<div class="ms-dialog-header">
  <mat-icon class="ms-dialog-header__icon">delete</mat-icon>
  <h2 class="ms-dialog-header__title">Borrar frecuencia</h2>
  <span class="ms-fill"></span>
  <button mat-icon-button mat-dialog-close>
    <mat-icon class="ms-dialog-header__close">cancel</mat-icon>
  </button>
</div>
<mat-divider></mat-divider>
<mat-progress-bar
  mode="indeterminate"
  *ngIf="loading$ | async"
></mat-progress-bar>

<mat-dialog-content>
  <div class="form-label">
    <h3 class="form-label__title">
      ¿Está seguro de borrar la frecuencia vinculada al número de parte:
      {{ data.partNumber }}?
    </h3>
    <p class="form-label__description form-label__description--warn">
      **La información borrada no podrá ser recuperada
    </p>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button
    type="button"
    mat-stroked-button
    color="warn"
    class="footer__btn-close"
    mat-dialog-close
  >
    CANCELAR
  </button>
  <button
    type="button"
    mat-raised-button
    color="warn"
    class="footer__btn-save"
    (click)="delete()"
  >
    BORRAR
  </button>
</mat-dialog-actions>
