<div class="container">
    <div mat-dialog-title class="header">
        <mat-icon class="header__icon">remove_red_eye</mat-icon>
        <h3 class="header__title">
            Observaciones
        </h3>
        <span class="ms-fill"></span>
        <button mat-icon-button mat-dialog-close>
            <mat-icon class="header__icon">close</mat-icon>
        </button>
    </div>
    <mat-divider></mat-divider>
    <mat-progress-bar mode="indeterminate" *ngIf="loading$ | async"></mat-progress-bar>
    <mat-dialog-content>
        <form [formGroup]="observationFormGroup" class="timer-container" style="margin-top: 20px;">
            <p><span style="font-weight: bold;"> OT MAIN :</span> {{data.otMain ? data.otMain : ''}}</p>
            <p><span style="font-weight: bold;"> OT CHILD :</span> {{data.otChild ? data.otChild : ''}}</p>
            <p><span style="font-weight: bold;"> Correlativo :</span> {{data.position ? data.position : ''}}</p>
            <p><span style="font-weight: bold;"> N° de parte :</span> {{data.partNumber ? data.partNumber : ''}}</p>
            <p><span style="font-weight: bold;"> Cantidad :</span> {{data.quantity ? data.quantity : ''}}</p>
            <p><span style="font-weight: bold;"> Descripcion :</span> {{data.description ? data.description : ''}}</p>
            <p><span style="font-weight: bold;"> Tipo de Atencion :</span> {{data.status ? data.status : ''}}</p>
            <p><span style="font-weight: bold;"> Usuario :</span> {{data.createdBy ? data.createdBy : ''}} </p>
            <p><span style="font-weight: bold;"> WOF (Orden de Fabricacion) :</span> {{data.wof ? data.wof : ''}}</p>
            <p><span style="font-weight: bold;"> Trabajo :</span> {{data.task ? data.task : ''}}</p>

            <mat-form-field appearance="outline" style="width: 400px;">
                <mat-label>Observaciones</mat-label>
                <textarea matInput placeholder="Observaciones" formControlName="observation" required></textarea>
                <mat-error *ngIf="observationFormGroup.controls['observation'].errors">
                    Campo <strong>requerido.</strong>
                </mat-error>
            </mat-form-field>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button type="button" mat-stroked-button color="warn" class="footer__btn-close" mat-dialog-close>CERRAR</button>
        <button type="button" mat-raised-button color="primary" [disabled]="observationFormGroup.status != 'VALID'"
            class="footer__btn-save" (click)="save()">GUARDAR</button>
    </mat-dialog-actions>
</div>