<div class="container">
  <div class="requests">
    <div class="requests__title">
      <h1 class="requests__title--name">En proceso</h1>
      <div class="requests__title--icon" (click)="settingDialog()">
        <mat-icon mat-list-icon>settings</mat-icon>
      </div>
      <span class="ms-fill"></span>
      <div class="requests__title--search mat-elevation-z4">
        <button mat-button class="requests__title--button">
          <mat-icon>search</mat-icon>
        </button>
        <input matInput placeholder="Buscar" name="search" class="requests__title--input" />
      </div>

    </div>
    <div class="requests__quantity">
      <span>08</span>
    </div>
  </div>

  <div class="cards-container">
    <div class="box mat-elevation-z2">
      <div class="header-box">
        <button mat-icon-button>
          <mat-icon style="color: #6200EE;">help</mat-icon>
        </button>
        <div class="priority"></div>
        <div>
          <mat-menu #requestsMenu="matMenu">
            <button mat-menu-item>
              <mat-icon>stop</mat-icon> 
              Finalizar
            </button>
            <button mat-menu-item>
              <mat-icon>add_photo_alternate</mat-icon> 
              Imagenes
            </button>
            <button mat-menu-item>
              <mat-icon>timeline</mat-icon> 
              Línea de tiempo
            </button>
            <button mat-menu-item>
              <mat-icon>remove_red_eye</mat-icon> 
              Observaciones
            </button>
            <button mat-menu-item>
              <mat-icon>help</mat-icon> Consultar
            </button>
          </mat-menu>
          <button mat-icon-button [matMenuTriggerFor]="requestsMenu">
            <mat-icon>more_vert</mat-icon>
          </button>
        </div>
      </div>
      <div class="info-box">
        <div class="lj">OT 00000</div>
        <div class="info-row">Componente: <span>XXXXXX </span> </div>
        <div class="info-row"> Nro parte: <span> XXXXXX</span> </div>
        <div class="info-row"> Fecha: <span>03/03/2020 - 07:30:45 </span> </div>
      </div>
      <div>
        <div class="progress-time"></div>
        <div class="progress-dynamic">
          <div class="progress-transparent"></div>
          <div class="progress-black"></div>
        </div>
        <div class="progress-view">40 min</div>
      </div>
    </div>
  </div>
</div>