<div class="container">
  <div class="requests">
    <div class="requests__title">
      <h1 class="requests__title--name">En proceso</h1>
      <div class="requests__title--icon" (click)="settingDialog()">
        <mat-icon mat-list-icon>settings</mat-icon>
      </div>
      <span class="ms-fill"></span>
      <div class="requests__title--search mat-elevation-z4">
        <button mat-button class="requests__title--button">
          <mat-icon>search</mat-icon>
        </button>
        <input matInput placeholder="Buscar" name="search" class="requests__title--input" />
      </div>

    </div>
    <div class="requests__quantity">
      <span>{{evaluations.length}}</span>
    </div>
  </div>
  <mat-progress-bar mode="indeterminate" *ngIf="loading$ | async"></mat-progress-bar>
  
  <div class="cards-container">
    <div class="box mat-elevation-z2" *ngFor="let item of evaluations;let i=index">
      <div class="header-box">
        <button mat-icon-button>
          <mat-icon style="color: #6200EE;">help</mat-icon>
        </button>
        <div class="priority"></div>
        <div>
          <mat-menu #requestsMenu="matMenu">
            <button mat-menu-item (click)="finalizeDialog(item)">
              <mat-icon>stop</mat-icon>
              Finalizar
            </button>
            <button mat-menu-item (click)="imagesDialog(item)">
              <mat-icon>add_photo_alternate</mat-icon>
              Imágenes
            </button>
            <button mat-menu-item>
              <mat-icon>timeline</mat-icon>
              Línea de tiempo
            </button>
            <button mat-menu-item (click)="observationsDialog()">
              <mat-icon>remove_red_eye</mat-icon>
              Observaciones
            </button>
            <button mat-menu-item (click)="consultDialog()">
              <mat-icon>help</mat-icon>
              Consultar
            </button>
            <button mat-menu-item (click)="responseDialog()">
              <mat-icon>question_answer</mat-icon>
              Responder
            </button>
          </mat-menu>
          <button mat-icon-button [matMenuTriggerFor]="requestsMenu">
            <mat-icon>more_vert</mat-icon>
          </button>
        </div>
      </div>
      <div class="info-box">
        <div class="lj">OT <span>{{item.otMain}}</span></div>
        <div class="info-row">OT Child: <span>{{item.otChild}} </span> </div>
        <div class="info-row"> Nro parte: <span> {{item.partNumber}}</span> </div>
        <div class="info-row"> Fecha: <span>{{(item.createdAt.seconds * 1000) | date:'dd/MM/yyyy - h:mm:ss a'}} </span>
        </div>
      </div>
      <div>
        <div class="progress-time"></div>
        <div class="progress-dynamic">
          <div class="progress-transparent"></div>
          <div class="progress-black"></div>
        </div>
        <div class="progress-view">40 min</div>
      </div>
    </div>
  </div>
</div>