<div class="container">
    <div class="header-container">
        <mat-icon mat-list-icon class="mat-icon-menu" style="font-size: 2.5em;">verified</mat-icon>
        <h1 style="font-size: 2.2em; margin-left: 20px; font-family: 'Poppins', sans-serif; font-weight: 700;">Revisión de repuestos</h1>

        <input #fileInput2 style="display: none" type="file" (change)=" onFileSelected($event)" accept=".csv"
            id="fileInput2">
        <button type="file" aria-label="add" mat-button class="btn-add" accept=".csv"
            (click)="fileInput2.click()">
            <mat-icon aria-label="agregar" class="icon-add">add</mat-icon>
            ADJUNTAR SIS
        </button>
    </div>
    <div class="body-container">
        <h4 style="font-weight: bold;">Lista de partes</h4>
        <ng-container *ngIf="checkedParts$ | async; else default">
            <form  *ngFor="let item of dataSparePart; let i=index">
                <div class="container-form-array">
                    <!-- [formGroupName]="i" -->
                    <mat-form-field appearance="outline" style="width: 280px;" class="container-form-array__inputs">
                        <mat-label>Nombre</mat-label>
                        <input matInput placeholder="Label" [ngModel]="item.description" name="description">
                        <!--  <mat-icon matSuffix>settings</mat-icon> -->
                    </mat-form-field>
                    <mat-form-field appearance="outline" style="width: 100px;" class="container-form-array__inputs">
                        <mat-label>Cantidad</mat-label>
                        <input matInput placeholder="Cantidad" [ngModel]="item.quantity" name='quantity'>
                    </mat-form-field>
                    <mat-form-field appearance="outline" style="width: 280px;" class="container-form-array__inputs">
                        <mat-label>Nº de parte</mat-label>
                        <input matInput placeholder="Nº de parte actual" [ngModel]="item.improvedPart" name="improvedPart">
                    </mat-form-field>
                    <mat-form-field appearance="outline" style="width: 280px;" class="container-form-array__inputs">
                        <mat-label>Nº de parte disponible</mat-label>
                        <input matInput placeholder="Nº de parte mejorada" [ngModel]="item.evaluatedPart"
                            name="evaluatedPart">
                    </mat-form-field>

                    <div class="container-form-array__checked">
                        <span>Kit</span>
                        <mat-checkbox class="checked-margin" color="primary" [ngModel]="item.kit" value="checked" name="kit">
                        </mat-checkbox>
                        <p *ngIf="item.kit" style="color: red; font-weight: bold;">Eliminado</p>
                    </div>
                </div>
                <!-- Aqui va los stoks -->
            </form>
        </ng-container>
        <ng-template #default>
            <div class="default">
                <span>
                    <mat-icon style="vertical-align: middle;">upload</mat-icon> Adjunte archivo
                </span>
            </div>
        </ng-template>
    </div>
    <div class="footer">
        <button aria-label="add" mat-button class="footer__btn-save" (click)="downloadXls()" [disabled]="dataSparePart.length < 1">
            DESCARGAR
        </button>
    </div>
</div>