.status-reception {
    padding: 8px 12px;
    background-color: #27AE60;
    color: white;
    font-weight: 500;
    border-radius: 5px;
}

.status-dispatch {
    padding: 8px 12px;
    background-color: #6200EE;
    color: white;
    font-weight: 500;
    border-radius: 5px;
}

::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0px !important;
}