<div *ngIf="auth.user$ | async as user">
  <div class="ms-kanban-toolbar">
    <div class="quantity-wrapper">
      Cant. W.O.
      <span class="quantity">{{ cantWO }}</span>
    </div>

    <mat-form-field
      appearance="outline"
      [ngClass]="
        isMobile
          ? 'ms-kanban-toolbar__input--mobile'
          : 'ms-kanban-toolbar__input'
      "
    >
      <mat-label>Taller</mat-label>
      <input
        type="text"
        [formControl]="tallerFormControl"
        matInput
        placeholder="Taller"
        autocomplete="off"
        [disabled]="cantWO < 1"
      />
      <mat-icon matPrefix>business</mat-icon>
    </mat-form-field>

    <mat-form-field
      appearance="outline"
      [ngClass]="
        isMobile
          ? 'ms-kanban-toolbar__input--mobile'
          : 'ms-kanban-toolbar__input'
      "
    >
      <mat-label>WO MAIN</mat-label>
      <input
        type="text"
        [formControl]="woMainFormControl"
        matInput
        placeholder="WO MAIN"
        autocomplete="off"
        [disabled]="cantWO < 1"
      />
      <mat-icon matPrefix>search</mat-icon>
    </mat-form-field>

    <mat-form-field
      appearance="outline"
      [ngClass]="
        isMobile
          ? 'ms-kanban-toolbar__input--mobile'
          : 'ms-kanban-toolbar__input'
      "
    >
      <mat-label>WO CHILD</mat-label>
      <input
        type="text"
        [formControl]="woChildFormControl"
        matInput
        placeholder="WO CHILD"
        autocomplete="off"
        [disabled]="cantWO < 1"
      />
      <mat-icon matPrefix>search</mat-icon>
    </mat-form-field>

    <mat-form-field
      appearance="outline"
      [ngClass]="
        isMobile
          ? 'ms-kanban-toolbar__input--mobile'
          : 'ms-kanban-toolbar__input'
      "
    >
      <mat-label>Cliente</mat-label>
      <input
        type="text"
        [formControl]="clienteFormControl"
        matInput
        placeholder="Cliente"
        autocomplete="off"
        [disabled]="cantWO < 1"
      />
      <mat-icon matPrefix>search</mat-icon>
    </mat-form-field>

    <mat-form-field
      [ngClass]="
        isMobile
          ? 'ms-kanban-toolbar__input--mobile'
          : 'ms-kanban-toolbar__input'
      "
      appearance="outline"
    >
      <mat-label>Status PPTO.</mat-label>
      <input
        type="text"
        [formControl]="statusFormControl"
        matInput
        placeholder="Status PPTO."
        autocomplete="off"
        [disabled]="cantWO < 1"
      />
      <mat-icon matPrefix>search</mat-icon>
    </mat-form-field>

    <button
      [disabled]="cantWO < 1"
      class="download"
      mat-raised-button
      color="primary"
      (click)="downloadReport()"
    >
      DESCARGAR
      <mat-icon aria-label="agregar" class="icon-add">download</mat-icon>
    </button>
  </div>

  <mat-progress-bar
    mode="indeterminate"
    *ngIf="loading$ | async"
  ></mat-progress-bar>

  <div class="body-container">
    <div class="table-wrapper">
      <table
        mat-table
        [dataSource]="tableData"
        matSort
        class="mat-elevation-z8"
      >
        <ng-container matColumnDef="taller">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="table__cell"
          >
            Taller
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{ element.taller ? element.taller : "---" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="woMain">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="table__cell"
          >
            WO MAIN
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{ element.woMain ? element.woMain : "---" }}
          </td>
        </ng-container>

        <!-- <ng-container matColumnDef="ioMain">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="table__cell">
                        IO MAIN
                    </th>
                    <td mat-cell *matCellDef="let element" class="table__cell">
                        {{ element.ioMain ? element.ioMain : "---" }}
                    </td>
                </ng-container> -->

        <ng-container matColumnDef="woChild">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="table__cell"
          >
            WO CHILD
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{ element.woChild ? element.woChild : "---" }}
          </td>
        </ng-container>

        <!-- <ng-container matColumnDef="ioChild">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="table__cell">
                        IO CHILD
                    </th>
                    <td mat-cell *matCellDef="let element" class="table__cell">
                        {{ element.ioChild ? element.ioChild : "---" }}
                    </td>
                </ng-container> -->

        <!-- <ng-container matColumnDef="statusWoChild">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="table__cell">
                        STATUS WO CHILD
                    </th>
                    <td mat-cell *matCellDef="let element" class="table__cell">
                        {{ element.statusWoChild ? element.statusWoChild : "---" }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="otTaller">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="table__cell">
                        OT TALLER
                    </th>
                    <td mat-cell *matCellDef="let element" class="table__cell">
                        {{ element.otTaller ? element.otTaller : "---" }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="otMadre">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="table__cell">
                        OT MADRE
                    </th>
                    <td mat-cell *matCellDef="let element" class="table__cell">
                        {{ element.otMadre ? element.otMadre : "---" }}
                    </td>
                </ng-container> -->

        <ng-container matColumnDef="cliente">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="table__cell"
          >
            Cliente
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{ element.cliente ? element.cliente : "---" }}
          </td>
        </ng-container>

        <!-- <ng-container matColumnDef="gmorngm">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="table__cell">
                        GM/NGM
                    </th>
                    <td mat-cell *matCellDef="let element" class="table__cell">
                        {{ element.gmorngm ? element.gmorngm : "---" }}
                    </td>
                </ng-container> -->

        <ng-container matColumnDef="modelo">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="table__cell"
          >
            Modelo
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{ element.modelo ? element.modelo : "---" }}
          </td>
        </ng-container>

        <!-- <ng-container matColumnDef="tipoSS">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="table__cell">
                        TIPO SS
                    </th>
                    <td mat-cell *matCellDef="let element" class="table__cell">
                        {{ element.tipoSS ? element.tipoSS : "---" }}
                    </td>
                </ng-container> -->

        <!-- <ng-container matColumnDef="servicio">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="table__cell">
                        SERVICIO
                    </th>
                    <td mat-cell *matCellDef="let element" class="table__cell">
                        {{ element.servicio ? element.servicio : "---" }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="tipoAtencion">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="table__cell">
                        TIPO ATENCION
                    </th>
                    <td mat-cell *matCellDef="let element" class="table__cell">
                        {{ element.tipoAtencion ? element.tipoAtencion : "---" }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="modalidadPresupuesto">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="table__cell">
                        MODALIDAD PRESUPUESTO
                    </th>
                    <td mat-cell *matCellDef="let element" class="table__cell">
                        {{ element.modalidadPresupuesto ? element.modalidadPresupuesto : "---" }}
                    </td>
                </ng-container> -->

        <ng-container matColumnDef="componente">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="table__cell"
          >
            Componente
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{ element.componente ? element.componente : "---" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="fechaAperturaChild">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="table__cell"
          >
            Fecha apertura CHILD
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{
              element.fechaAperturaChild
                ? (element.fechaAperturaChild.toDate() | date: "d/M/y")
                : "---"
            }}
          </td>
        </ng-container>

        <ng-container matColumnDef="fechaReleasedIoChild">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="table__cell"
          >
            Fecha released
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{
              element.fechaReleasedIoChild
                ? (element.fechaReleasedIoChild.toDate() | date: "d/M/y")
                : "---"
            }}
          </td>
        </ng-container>

        <ng-container matColumnDef="createdAt">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="table__cell"
          >
            Fecha registro
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{
              element.createdAt
                ? (element.createdAt.toDate() | date: "d/M/y")
                : "---"
            }}
          </td>
        </ng-container>

        <ng-container matColumnDef="tiempoObjetivoEnvioPPTO">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="table__cell"
          >
            Tiempo objetivo envío PPTO.
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{
              element.tiempoObjetivoEnvioPPTO
                ? element.tiempoObjetivoEnvioPPTO
                : "---"
            }}
          </td>
        </ng-container>

        <ng-container matColumnDef="fechaEnvioPPTO01">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="table__cell"
          >
            Fecha 1er envío
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{
              element.fechaEnvioPPTO01
                ? (element.fechaEnvioPPTO01.toDate() | date: "d/M/y")
                : "---"
            }}
          </td>
        </ng-container>

        <ng-container matColumnDef="fechaUltimoEnvioPPTO">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="table__cell"
          >
            Fecha último envío
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{
              element.fechaUltimoEnvioPPTO
                ? (element.fechaUltimoEnvioPPTO.toDate() | date: "d/M/y")
                : "---"
            }}
          </td>
        </ng-container>

        <ng-container matColumnDef="NoPPTOSModificadosOAdicionales">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="table__cell"
          >
            PPTOs adicionales
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{
              element.NoPPTOSModificadosOAdicionales
                ? element.NoPPTOSModificadosOAdicionales
                : "---"
            }}
          </td>
        </ng-container>

        <ng-container matColumnDef="fechaDeAprobacionORechazo">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="table__cell"
          >
            Fecha de aprobación o rechazo
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{
              element.fechaDeAprobacionORechazo
                ? (element.fechaDeAprobacionORechazo.toDate() | date: "d/M/y")
                : "---"
            }}
          </td>
        </ng-container>

        <ng-container matColumnDef="statusPresupuesto">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="table__cell"
          >
            Status PPTO
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            <div [ngSwitch]="element.statusPresupuesto">
              <div
                class="budget--status__bubble--approved"
                *ngSwitchCase="'PPTO. APROBADO'"
              >
                APROBADO
              </div>
              <div
                class="budget--status__bubble--rejected"
                *ngSwitchCase="'PPTO. RECHAZADO'"
              >
                RECHAZADO
              </div>
              <div
                class="budget--status__bubble--send--pending"
                *ngSwitchCase="'PDTE. ENVÍO PPTO.'"
              >
                Pdte. ENVÍO
              </div>
              <div
                class="budget--status__bubble--approval--pending"
                *ngSwitchCase="'PDTE. APROB.'"
              >
                Pdte. APROB.
              </div>
              <div
                class="budget--status__bubble--parallel"
                *ngSwitchCase="'PPTO. PARALELO'"
              >
                PARALELO
              </div>
              <div
                class="budget--status__bubble--modified"
                *ngSwitchCase="'PPTO. MODIFICADO'"
              >
                MODIFICADO
              </div>
              <div
                class="budget--status__bubble--customer"
                *ngSwitchCase="'CLIENTE INTERNO'"
              >
                CLIENTE INT.
              </div>
              <div *ngSwitchDefault>---</div>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="motivoDelRechazo">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="table__cell"
          >
            Motivo de rechazo
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{
              element.motivoDelRechazo ? element.motivoDelRechazo.name : "---"
            }}
          </td>
        </ng-container>

        <ng-container matColumnDef="actions" stickyEnd>
          <th mat-header-cell *matHeaderCellDef class="table__cell">
            Acciones
          </th>
          <td mat-cell *matCellDef="let element">
            <ng-container>
              <mat-menu #rawMenu="matMenu">
                <button
                  *ngIf="
                    !(
                      element.statusPresupuesto == 'PPTO. APROBADO' ||
                      element.statusPresupuesto == 'PPTO. RECHAZADO' ||
                      element.statusPresupuesto == 'CLIENTE INTERNO'
                    )
                  "
                  class="w3-small"
                  mat-menu-item
                  (click)="sendDialog(element)"
                >
                  <mat-icon>attach_email</mat-icon>
                  Enviar PPTO
                </button>
                <button
                  *ngIf="element.statusPresupuesto != 'CLIENTE INTERNO'"
                  class="w3-small"
                  mat-menu-item
                  (click)="timelineDialog(element)"
                >
                  <mat-icon>timeline</mat-icon>
                  Historial
                </button>
                <button
                  class="w3-small"
                  mat-menu-item
                  (click)="deleteDialog(element)"
                >
                  <mat-icon>delete</mat-icon>
                  Borrar
                </button>
              </mat-menu>
              <button mat-icon-button [matMenuTriggerFor]="rawMenu">
                <mat-icon>more_vert</mat-icon>
              </button>
            </ng-container>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          [ngClass]="{
            'modified--budget__highlight--row':
              row.statusPresupuesto == 'PPTO. MODIFICADO'
          }"
        ></tr>
      </table>
    </div>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</div>
