# See http://help.github.com/ignore-files/ for more about ignoring files.
firestore-debug.log
# compiled output
/dist
/tmp
/out-tsc
/functions/backup
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
.firebase/hosting.ZGlzdC9pbmdlbmllcmlhLWRzcA.cache
firebase-debug.log
ui-debug.log
firestore-debug.log
pubsub-debug.log
backup/
*.log

firebase-export-1625732300231hH97XM/firestore_export/all_namespaces/all_kinds/all_namespaces_all_kinds.export_metadata

firebase-export-1625732300231hH97XM/firestore_export/all_namespaces/all_kinds/output-0

firebase-export-1625732300231hH97XM/firestore_export/all_namespaces/all_kinds/output-1

firebase-export-1625732300231hH97XM/firestore_export/all_namespaces/all_kinds/output-2

firebase-export-1625732300231hH97XM/firestore_export/all_namespaces/all_kinds/output-3

firebase-export-1625732300231hH97XM/firestore_export/firestore_export.overall_export_metadata
firebase-export-1625732300231hH97XM/firestore_export/firestore_export.overall_export_metadata
firebase-export-1625732300231hH97XM/firestore_export/all_namespaces/all_kinds/all_namespaces_all_kinds.export_metadata
firebase-export-1625732300231hH97XM/firestore_export/all_namespaces/all_kinds/output-0
firebase-export-1625732300231hH97XM/firestore_export/all_namespaces/all_kinds/output-1
firebase-export-1625732300231hH97XM/firestore_export/all_namespaces/all_kinds/output-2
firebase-export-1625732300231hH97XM/firestore_export/all_namespaces/all_kinds/output-3
