.card {
  display: flex;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.delete-title {
  margin-top: 5px;
  margin-right: 15px;
}

.delete-title--close {
  margin-top: 5px;
  margin-left: 220px;
  cursor: pointer;
}
