<div class="ms-dialog-header">
    <mat-icon class="ms-dialog-header__icon">timeline</mat-icon>
    <h3 class="ms-dialog-header__title">Historial</h3>
    <span class="ms-fill"></span>
    <button mat-icon-button mat-dialog-close>
    <mat-icon>cancel</mat-icon>
  </button>
</div>
<mat-divider></mat-divider>

<mat-dialog-content class="main">
    <div class="row">
        <div class="col col--title">Estado</div>
        <div class="col col--title">Fecha</div>
        <div class="col col--title">Usuario</div>
    </div>

    <div *ngFor="let item of dateArray">
        <div class="row">
            <div class="col col--state">{{ item.type }}</div>
            <div class="col col--date">{{ item.date }}</div>
            <div class="col col--user">
                {{ item.createBy ? item.createBy.name : "---" }}
            </div>
        </div>
        <div *ngIf="item.type === 'Fecha última modificación 1' || item.type === 'Fecha última modificación 2' || item.type === 'Fecha última modificación 3'">
            <div class="row">
                <div class="col col--date">
                    <img class="flecha" src="../../../../../../../../assets/img/flecha.png" alt="" /> Motivo de modificación
                </div>
                <div class="col col--date">{{ item.description }}</div>
            </div>
        </div>
        <div *ngIf="item.type === 'Fecha Aprobación/Rechazo'">
            <div class="row">
                <div class="col col--date" *ngIf="item.description != null">
                    <img class="flecha" src="../../../../../../../../assets/img/flecha.png" alt="" /> Motivo del rechazo
                </div>
                <div class="col col--date" *ngIf="item.description != null">{{ item.description }}</div>
            </div>
        </div>
    </div>
</mat-dialog-content>