<div class="container">
    <div class="requests">
      <div class="requests__title">
        <h1 class="requests__title--name">En progreso</h1>
        <div class="requests__title--icon" (click)="settingDialog()">
          <mat-icon mat-list-icon>settings</mat-icon>
        </div>
        <span class="ms-fill"></span>
        
        <div class="requests__title--select mat-elevation-z4" >
          <mat-form-field style="width: 1000px" style="border: none;" appearance="null" > 
            <mat-icon matPrefix class="requests__title--select-icon">local_convenience_store</mat-icon>
            <mat-select [formControl]="eventTypeControl" class="requests__title--select-input" >
              <mat-option value="" >Todos</mat-option>
              <mat-option   *ngFor="let item of eventType" [value]="item.code">
                {{item.event}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
  
        <div class="requests__title--search mat-elevation-z4">
          <button mat-button class="requests__title--button">
            <mat-icon>search</mat-icon>
          </button>
          <form [formGroup]="searchForm" style="margin-top:10px;">
            <input matInput placeholder="Buscar" name="search" class="requests__title--input" formControlName="ot" style="color: #333333; " />
          </form>
        </div>
  
      </div>
      <div class="requests__quantity">
        <span>{{counter}}</span>
      </div>
    </div>
    <mat-progress-bar mode="indeterminate" *ngIf="loading$ | async"></mat-progress-bar>
  
    <div class="cards-container" *ngIf="quality$|async as evaluations">
      <div class="box mat-elevation-z2" *ngFor="let item of evaluations">
        <div class="header-box">
          <div class="priority" [ngClass]="{
           'btn-event-internal': item.eventType === 'Interno'
           ,'btn-event-external':  item.eventType === 'Externo'
            }">
             {{item.eventType}}
          </div>
          <div>
            <mat-menu #requestsMenu="matMenu">
              <button mat-menu-item (click)="accCorrective(item)">
                <mat-icon>add_task</mat-icon> Acc. Correctivas
              </button>
              <button mat-menu-item (click)="detailDialog(item, item.eventType)">
                <mat-icon>visibility</mat-icon> Detalle
              </button>
              <button mat-menu-item (click)="timeline(item)">
                <mat-icon>timeline</mat-icon> Línea de tiempo
              </button>
              <button mat-menu-item (click)="analysis(item)">
                <mat-icon>analytics</mat-icon> Analisis
              </button>
            </mat-menu>
            <button mat-icon-button [matMenuTriggerFor]="requestsMenu">
              <mat-icon>more_vert</mat-icon>
            </button>
          </div>
        </div>
        <div class="info-box">
          <div class="lj" matTooltip="WOF" matTooltipPosition="above"><span>OT {{item.workOrder}}</span> </div>
          <div class="info-row"> Componente: <span> {{item.component}}</span> </div>
          <div class="info-row"> Taller: <span> {{item.partNumber}}</span></div>        
          <div class="info-row"> Fecha: <span> {{(item.createdAt['seconds'] * 1000) | date : 'dd/MM/yy hh:mm:ss'}}</span></div>        
        </div>
        <div class="ms-fill"></div>
        <div class="timer-container">
          <div class="timer-color">
          </div>
          <div class="timer-black" [ngStyle]="{'width.%': item.registryPercentageElapsed }">
          </div>
          <div class="progress-view">
            {{item.registryTimeElapsed?.days | number : '2.'}} /
            {{item.registryTimeElapsed?.hours | number : '2.'}} :
            {{item.registryTimeElapsed?.minutes | number : '2.'}} :
            {{item.registryTimeElapsed?.seconds | number : '2.'}}
          </div>
        </div>
      </div>
  
    </div>
  
  
  
  
  </div>