.container {
  margin: 30px 70px 30px 70px;
}

.header-container {
  display: inline-flex;
}

.label:active {
  color: #6200ee;
}

a:active {
  color: #6200ee;
}

.mat-tab-body.mat-tab-body-active {
  overflow-y: hidden;
}
.container-router {
  margin-top: 30px;
}
