<div style="max-width: 500px">

    <h2 mat-dialog-title>
        <div class="container-h2">
            <button mat-icon-button class="container-h2__button">
                <mat-icon class="container-h2__icon">stop</mat-icon>
                <span class="container-h2__title">
                    Finalizar
                </span>
            </button>
            <button mat-icon-button mat-dialog-close>
                <mat-icon class="container-h2__icon-close">close</mat-icon>
            </button>
        </div>
        <mat-divider style="margin-top: 20px;"></mat-divider>
        <mat-progress-bar mode="indeterminate" *ngIf="loading$ | async"></mat-progress-bar>
    </h2>
    <mat-dialog-content class="mat-typography">
        <p><span style="font-weight: bold;"> OT MAIN :</span> {{data.otMain ? data.otMain : ''}}</p>
        <p><span style="font-weight: bold;"> OT CHILD :</span> {{data.otChild ? data.otChild : ''}}</p>
        <p><span style="font-weight: bold;"> Correlativo :</span> {{data.position ? data.position : ''}}</p>
        <p><span style="font-weight: bold;"> N° de parte :</span> {{data.partNumber ? data.partNumber : ''}}</p>
        <p><span style="font-weight: bold;"> Cantidad :</span> {{data.quantity ? data.quantity : ''}}</p>
        <p><span style="font-weight: bold;"> Descripcion :</span> {{data.description ? data.description : ''}}</p>
        <p><span style="font-weight: bold;"> Tipo de Atencion :</span> {{data.status ? data.status : ''}}</p>
        <p><span style="font-weight: bold;"> Usuario :</span> {{data.createdBy ? (data.createdBy.name ?
            data.createdBy.name : data.createdBy) : 'Sin asignar'}}
        </p>
        <p><span style="font-weight: bold;"> WOF (Orden de Fabricacion) :</span> {{data.wof ? data.wof : ''}}</p>
        <p><span style="font-weight: bold;"> Trabajo :</span> {{data.task ? data.task : ''}}</p>
        <p><span style="font-weight: bold;"> Observaciones :</span> {{data.observations ? data.observations : ''}}</p>
        <mat-divider style="margin: 16px 0px"></mat-divider>
        <form [formGroup]="finalizeForm" autocomplete="off" class="form-container">
            <div class="form-container__form-inputs">
                <mat-form-field appearance="outline" id="result">
                    <mat-label>Resultado</mat-label>
                    <input matInput placeholder="Resultado" formControlName="result" [matAutocomplete]="auto">
                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option.resultType">
                            {{option.resultType}}
                        </mat-option>
                    </mat-autocomplete>
                    <mat-error *ngIf="finalizeForm.controls['result'].errors">
                        Campo <strong>requerido.</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" id="kindOfTest">
                    <mat-label>Tipo de ensayo</mat-label>
                    <input matInput placeholder="Resultado" formControlName="kindOfTest"
                        [matAutocomplete]="autoKindOfTest">
                    <mat-autocomplete autoActiveFirstOption #autoKindOfTest="matAutocomplete">
                        <mat-option *ngFor="let option of kindOfTests$ | async" [value]="option.kindOfTest">
                            {{option.kindOfTest}}
                        </mat-option>
                    </mat-autocomplete>
                    <mat-error *ngIf="finalizeForm.controls['kindOfTest'].errors">
                        Campo <strong>requerido.</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Comentarios (Opcional)</mat-label>
                    <input matInput placeholder="Comentarios" formControlName="comments">
                </mat-form-field>
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Longitud</mat-label>
                    <span matSuffix><b> [mm]</b></span>
                    <input type="number" matInput placeholder="Longitud" formControlName="length" min="0" step="0.01">
                </mat-form-field>
                <div formArrayName="extends" style="margin-bottom: 10px;">
                    <div *ngFor="let item of getExtendsArray.controls;let i=index" style="width: 100%;">
                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label>Ampliar</mat-label>
                            <input type="text" matInput placeholder="Longitud" [formControlName]="i">
                            <mat-icon style="cursor: pointer;" *ngIf="i>0" matSuffix color="warn"
                                (click)="deleteControlExtends(i)">delete</mat-icon>
                        </mat-form-field>
                    </div>
                    <button type="file" aria-label="add" mat-button class="btn-add" (click)="addControlExtends()">
                        <mat-icon aria-label="agregar" class="icon-add">add</mat-icon>
                        AMPLIAR
                    </button>
                </div>
                <mat-divider style="margin: 16px 0px"></mat-divider>
            </div>
            <div *ngFor="let img of images;let i=index;">
                <a [href]="img" target="_blank" style="cursor: zoom-in">
                    <img [src]="img" *ngIf="img">
                </a>
            </div>
            <div *ngFor="let imgUpload of imagesUpload;let i=index">
                <div *ngIf="i<2" style="margin-bottom: 40px;">
                    <label [for]="i">
                        <mat-card class="mat-elevation-z0">
                            Foto final {{i+1}}
                            <img [src]="imgUpload" onError="this.src='../../../../../../../assets/img/camara.png'"
                                class="pointer" />
                            <mat-card-actions *ngIf="imgUpload" align="end">
                                <button mat-icon-button (click)="deleteImage(imgForDelete, i)">
                                    <mat-icon color="warn">delete</mat-icon>
                                </button>
                            </mat-card-actions>
                        </mat-card>
                    </label>
                    <input [id]="i" type="file" style="display: none;" (change)="uploadFile($event,i)"
                        accept="image/x-png, image/jpg, image/jpeg" />
                </div>
                <mat-divider></mat-divider>
            </div>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button type="button" mat-stroked-button color="warn" class="footer__btn-close" mat-dialog-close
            [disabled]="loading$ | async">CERRAR</button>
        <button type="submit" mat-raised-button color="primary" class="footer__btn-save" cdkFocusInitial
            (click)="onSubmit()" [disabled]="loading$ | async">GUARDAR</button>
    </mat-dialog-actions>
</div>