.container-line {
    display: flex;
    overflow: auto;
    flex-wrap: wrap;
    min-width: 960px;
    align-items: center;
    padding-bottom: 20px;
}

ul {
    padding-block-start: 20px;
    list-style-type: none;
    font-family: Roboto;
}

.md-stepper-horizontal {
    display: table;
    width: 680px;
    margin: 0 auto;
}

.md-stepper-horizontal .md-step {
    display: table-cell;
    position: relative;
    padding: 24px;
}

.md-stepper-horizontal .md-step .md-step-title {
	text-align: center;
	color: rgba(0,0,0,.26);
}
.md-stepper-horizontal .md-step.active .md-step-title {
	font-weight: 600;
	color:rgba(0,0,0,.87);
}

.md-stepper-horizontal .md-step:first-child .md-step-bar-left, .md-stepper-horizontal .md-step:last-child .md-step-bar-right {
    display: none;
}

.md-stepper-horizontal .md-step .md-step-circle {
    width: 45px;
    border: 1;
    height: 45px;
    margin: 0 auto;
    background-color: #999999;
    border-radius: 50%;
    text-align: center;
    line-height: 45px;
    font-size: 16px;
    color: #FFFFFF;
}

.md-stepper-horizontal.green .md-step.active .md-step-circle {
    background-color: #27AE60;
    font-family: Roboto;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.md-stepper-horizontal .md-step .md-step-title {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 600;
}

.md-stepper-horizontal .md-step .md-step-bar-left, .md-stepper-horizontal .md-step .md-step-bar-right {
    position: absolute;
    top: 85px;
    height: 1px;
    border-top: 1px solid #DDDDDD;
}

.md-stepper-horizontal .md-step.active .md-step-bar-left, .md-stepper-horizontal .md-step.active .md-step-bar-right {
    border-top: 1px solid #000000;
}

.md-stepper-horizontal .md-step .md-step-bar-bottom {
    position: absolute;
    width: 1px;
    height: 60px;
    border-left: 1px solid #000000;
    bottom: -35px;
    left: 50%;
}

.md-stepper-horizontal .md-step.active:last-child .md-step-bar-right {
    border-top: 1px solid #DDDDDD;
}

.md-stepper-horizontal .md-step .md-step-bar-bottom.register {
    height: 120px;
    bottom: -95px;
}

.md-stepper-horizontal .md-step .md-step-bar-bottom.border {
    height: 180px;
    bottom: -155px;
}

.md-stepper-horizontal .md-step .md-step-bar-right {
    right: 0;
    left: 50%;
    margin-left: 21px;
}

.md-stepper-horizontal .md-step .md-step-bar-left {
    left: 0;
    right: 50%;
    margin-right: 21px;
}

.md-step-times {
    height: 30px;
    margin-left: 45px;
    border-bottom: 1px solid #000000;
    padding: 0 17px;
    display: table;
}

.times-div {
    display: table-cell;
    position: relative;
}

.md-step-total {
    height: 60px;
    margin-left: 45px;
    border-bottom: 1px solid #000000;
    position: relative;
}

.md-step-register {
    height: 60px;
    width: 45%;
    margin-left: 46px;
    border-bottom: 1px solid #000000;
    position: relative;
}

.time {
    color: #6C6C6C;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0;
    line-height: 30px;
    font-weight: 500;
}

.minutes {
    color: #9E9E9E;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: -25px;
}