

<div>
    <div class="ms-dialog-header">
        <mat-icon class="ms-dialog-header__icon">visibility</mat-icon>
        <h3 class="ms-dialog-header__title"> Detalle evento interno </h3>
        <span class="ms-fill"></span>
        <button mat-icon-button mat-dialog-close>
            <mat-icon>cancel</mat-icon>
        </button>
    </div>
    <mat-divider></mat-divider>

    <mat-dialog-content style="margin-top: 20px;" >
    <mat-progress-bar mode="indeterminate" *ngIf="loading$ | async"></mat-progress-bar>
        <div>
            <form [formGroup]="detailFormGroup" class="timer-container">
                <p><span style="font-weight: bold;"> OT actual :</span> {{data.workOrder ? data.workOrder : ''}}</p>
                <p><span style="font-weight: bold;"> Número de parte :</span> {{data.partNumber ? data.partNumber : ''}}</p>
                <p><span style="font-weight: bold;"> Taller:</span> {{data.workShop ? data.workShop : '-'}}</p>
                <p><span style="font-weight: bold;"> Tipo de evento :</span> {{data.eventType? data.eventType : ''}}</p>
                <p><span style="font-weight: bold;"> Fecha :</span>
                    {{data.createdAt ? ((data.createdAt['seconds'] * 1000) | date : 'dd/MM/yy - hh:mm:ss'): ''}}
                    </p>

                <mat-form-field appearance="outline" id="result" class="timer-container__input">
                    <mat-label>Detalle de evento</mat-label>
                      <input  matInput type="text" placeholder="Detalle de evento" formControlName="enventDetail"  readonly                     
                      >  
                </mat-form-field>              
                <br>
                <h3>Imagen general</h3>              
                <div class="container-image" >
                    <picture *ngFor="let item of imagesGeneral; index as i">
                        <a [href]="item" target="_blank" style="cursor: zoom-in">
                            <img [src]="item" alt="" class="container-image__img">
                        </a>
                    </picture>
                </div>

                <h3>Imagen detalle</h3>
                <div class="container-image" >
                    <picture  *ngFor="let item of imagesDetail; index as i">
                        <a [href]="item" target="_blank" style="cursor: zoom-in">
                            <img [src]="item" alt="" class="container-image__img" >
                        </a>
                    </picture>
                </div>

                <h3>Archivo adicional</h3>
                <div class="container-file">
                    <mat-icon>insert_drive_file</mat-icon>
                    <div *ngIf="urlFile">
                        <a [href]="urlFile" class="container-file__name" >
                            Descargar archivo
                        </a>
                    </div>
                    <div *ngIf="!urlFile">
                         {{data.fileName}}
                    </div>
                    
                </div>
                
            </form>
        </div>

    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button mat-stroked-button color="warn" mat-dialog-close [disabled]="loading$ | async">CANCELAR</button>
    </mat-dialog-actions>
</div>