
.main_toolbar{
  background: #333333;
  color: white;
}
.btn-exit-app{
  position: absolute;
  right: 50px;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
