<mat-sidenav-container class="sidenav-container" fullscreen>
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'over'" [opened]="(isHandset$ | async) === !false">
    <mat-toolbar class="color-toolbar-sidebar"></mat-toolbar>
    <mat-card class="mat-elevation-z0 mat-card-user" *ngFor="let item of items | async">
      <div mat-card-avatar style="margin-top: 40px;margin-bottom: 30px;">
        <img src="{{item.picture}}" alt="">
      </div>
      <mat-card-content>
        <mat-card-title class="text-menu-title-user">{{item.name}}</mat-card-title>
        <mat-card-subtitle class="text-menu-title-role">{{item.role}}</mat-card-subtitle>
      </mat-card-content>
    </mat-card>
    <hr class="hr-line">
    <mat-nav-list>
      <div>
        <a mat-list-item [routerLink]="['/main/improvements']" routerLinkActive="active" (click)="drawer.toggle()">
          <mat-icon mat-list-icon class="mat-icon-menu">turned_in</mat-icon>
          <span class="mat-item-list-span">
            Mejoras
          </span>
        </a>
        <a mat-list-item [routerLink]="['/main/spare-parts']" routerLinkActive="active" (click)="drawer.toggle()">
          <mat-icon mat-list-icon class="mat-icon-menu">verified</mat-icon>
          <span class="mat-item-list-span">
            Revisión de repuestos
          </span>
        </a>
        <a mat-list-item [routerLink]="['/main/settings']" routerLinkActive="active"  (click)="drawer.toggle()">
          <mat-icon mat-list-icon class="mat-icon-menu">settings</mat-icon>
          <span class="mat-item-list-span">
            Configuración
          </span>
        </a>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="main_toolbar">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <button type="button" aria-label="Toggle sidenav" mat-button class="btn-exit-app" (click)="exitApp()">
        CERRAR SESION
        <mat-icon aria-label="Side nav toggle icon">exit_to_app</mat-icon>
      </button>
      <span>Ingeniería DSP</span>
    </mat-toolbar>
    <div>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>



<!-- 
  <div class="">
    <mat-sidenav-container style="height:100vh;">
      <mat-sidenav mode="over" #sideMenu [(opened)]="openedMenu" class="container-toolbar">
        <div class="sidenav-menu">              
          <div>
            <div *ngIf="authService.currentUser() | async as user" class="user">
              <div>
                <img *ngIf="user.photoURL" [src]="user.photoURL"
                class="user__image border--primary">
                <h2 class="user__name">{{user.displayName}} </h2>
                <h4 class="user__rol">Administrador</h4>
              </div>
            </div>
            <mat-divider style="background: #F2C94C; margin-bottom: 10px;"></mat-divider>                  
            <div class="menu">                                                    
              <button mat-button class="menu__button" routerLink="/main" (click)="toggleSideMenu()">
                <mat-icon class="menu__icon">bookmark</mat-icon>
                Mejoras
              </button>
              <button mat-button class="menu__button" routerLink="/main" (click)="toggleSideMenu()">
                <mat-icon class="menu__icon">verified</mat-icon>
                Revisión de repuestos
              </button>
              <button mat-button class="menu__button" routerLink="/main" (click)="toggleSideMenu()">
                <mat-icon class="menu__icon">settings</mat-icon>
                      Configuración
                    </button>
                                       
                  </div>
            </div>
          </div>
        </mat-sidenav>

        <mat-sidenav-content cdkScrollable>
          <mat-toolbar class="main__toolbar">
            <button
                type="button"
                aria-label="Toggle sidenav"
                mat-icon-button
                (click)="toggleSideMenu()"
                >
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
              </button>
              <span>ingenieria-dsp</span>
              
              <button
              type="button"
              aria-label="Toggle sidenav"
              mat-button
                class="btn-exit-app"
                (click)="exitApp()"
                >
                CERRAR SESION
                <mat-icon aria-label="Side nav toggle icon">exit_to_app</mat-icon>
              </button>
              
          </mat-toolbar>
          <div class="main__space">
            <router-outlet></router-outlet>
          </div>
        </mat-sidenav-content>
        
      </mat-sidenav-container>
    </div>
    
    
    
    

    
  -->