$base-font: "Poppins",
sans-serif;
.main-background {
    background: linear-gradient(to top, rgba(0, 17, 44, 0.2), transparent), url("../../../assets/svg/test2.svg");
    // background: linear-gradient(to top, rgba(0, 17, 44, 0.2), transparent), url("../../../assets/svg/background5.svg");
    height: auto;
    background-position: center;
    // background-size: contain;
}

.main-background::after {
    content: "";
    position: relative;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.483), transparent);
}

.main_toolbar {
    display: flex;
    background: #333333;
    color: white;
    padding: 0px 28px;
}

.name-toolbar {
    font-size: 1em;
    margin-left: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.btn-exit-app {
    position: absolute;
    right: 50px;
}

.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 300px;
}

.sidenav .mat-toolbar {
    background: #f2c94c;
    height: 24px;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
}

//Toolbar
.container-toolbar {
    border-top: 24px solid #f2c94c;
}

.main__toolbar {
    background-size: cover;
    background-color: #333333;
    position: fixed;
    top: 0;
    z-index: 4;
    color: white;
}

.btn-exit-app {
    position: absolute;
    right: 50px;
}

.main__space {
    padding-top: 64px;
}

.hr-line {
    height: 1px;
    border: 0;
    background-color: #f2c94c;
}

.mat-card-user {
    height: 166px;
}

mat-card img {
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.text-menu-title-user {
    font-family: $base-font;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.87);
}

.text-menu-title-role {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: rgba(0, 0, 0, 0.6);
}

.text-menu-title-version {
    font-size: 0.7rem;
    font-weight: 500;
}

.mat-item-list-span {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: rgba(0, 0, 0, 0.6);
    margin-left: 33px;
}

.mat-icon-menu {
    width: 22px;
    height: 22px;
}

.active {
    background: rgba($color: #6200ee, $alpha: 0.08);
    color: #6200ee !important;
}

::ng-deep .active .mat-item-list-span {
    color: #6200ee !important;
}

::ng-deep .mat-expansion-panel-body {
    padding: 0px 0px !important;
}

::ng-deep .mat-list-base {
    margin-top: 0px !important;
    width: 100%;
}

.mat-list-item-second {
    color: #666666;
    padding-left: 40px !important;
}

::ng-deep .mat-expansion-panel-header {
    padding: 0px 0px !important;
}

::ng-deep .mat-expansion-indicator {
    margin-right: 20px !important;
}

::ng-deep .mat-expansion-panel {
    box-shadow: 0px 0px 0px 0px white !important;
}


/* 
  ##Dispositivo = Tablets de baja resolucion y telefnos Mobiles (horizontal)
  ##Resolucion = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
    .name-exit {
        display: none;
    }
    .btn-exit-app {
        position: absolute;
        right: 20px;
    }
    // .spare-parts {
    //     display: none;
    // }
    // .evaluations {
    //     display: none;
    // }
    // .budget {
    //     display: none;
    // }
}


/* 
  ##Dispositivo = Mayoria de telefonos moviles (vertical)
  ##Resolucion = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    .name-exit {
        display: none;
    }
    .main_toolbar {
        display: flex;
        background: #333333;
        color: white;
        padding: 0px 10px;
    }
    .name-toolbar {
        font-size: 0.9em;
        margin-left: 10px;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
    }
    .btn-exit-app {
        font-size: 0.7em;
        font-weight: 300;
        position: absolute;
        right: 8px;
    }
    // .spare-parts {
    //     display: none;
    // }
    // .evaluations {
    //     display: none;
    // }
    // .budget {
    //     display: none;
    // }
}