.container {
    margin: 0px;
    padding: 0px;
}

.requests {
    display: flex;
    color: white;
    border: 1px solid #333333;
    border-radius: 20px 20px 0px 0px;
    margin-top: 20px;
    &__title {
        display: flex;
        align-items: stretch;
        width: 93%;
        background: #333333;
        border-radius: 20px 0px 0px 0px;
        height: 65px;

        &--name {
            font-family: "Poppins", sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 28px;
            line-height: 36px;
            margin: 0px 24px 0px 24px;
            align-self: center;
        }

        &--icon {
            cursor: pointer;
            align-self: center;

            .mat-icon {
                font-size: 35px;
                width: 35px;
                height: 35px;
            }
        }

        &--search {
            display: flex;
            min-width: 100px;
            width: 30%;
            padding-left: 15px;
            font-family: "Montserrat", sans-serif;
            font-size: 14px;
            font-weight: 300;
            background-color: #fff;
            height: 40px;
            align-self: center;
            border-radius: 20px 20px;
            margin-right: 20px;
        }

        &--input {
            width: 100%;
            margin-top: 0;
            color: #828282;
            border: transparent;
            border-radius: 0px 20px 20px 20px;

            &::placeholder {
                color: #aeaeae;
            }
            &:focus {
                outline: none;
            }
        }

        &--button {
            max-width: 45px;
            width: 100%;
            padding: 0 !important;
            color: #cbcbcb;
        }
    }

    &__quantity {
        padding: 20px 15px 15px 15px;
        margin-right: 0px;
        background: white;
        color: #333333;
        font-weight: bold;
        font-size: 3em;
        //border: 1px solid #333333;
        border-radius: 0px 30px 0px 0px;
    }
}

.cards-container {
    //display: flex;
    //justify-content: space-evenly;
    padding: 20px;
    background: #f0eded;
    display: grid;
    grid-column-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

}

.box {
    margin: 10px 15px;
    border: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    box-sizing: border-box;
    background: #ffffff;
    border-radius: 10px;
    position: relative;
    width: 200px;
}    

.header-box {
    border-bottom: 1px solid #9e9e9e;
    margin: 0 8px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.priority {
    background: #27ae60;
    border-radius: 5px;
    font-family: Roboto;
    color: #ffffff;
    text-align: center;
    padding: 0px 15px;
}

.number {
    font-family: Rubik;
    font-weight: bold;
    color: #828282;
}

::ng-deep .mat-icon-button {
    width: 25px !important;
    line-height: 20px !important;
    height: 20px !important;
}

.info-box {
    padding: 5px 10px;
}

.info-box .lj {
    font-family: Roboto;
    font-weight: bold;
    color: #2b2b2b;
    background: #eeb40a;
    border-radius: 5px;
    text-align: center;
    padding: 2px 7px;
    margin-bottom: 5px;
    font-size: 1.2em;
}

.info-row {
    font-family: Roboto;
    color: #2b2b2b;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #bdbdbd;
}

.date {
    font-size: x-small;
}

.progress-time {
    background: linear-gradient(90deg, #77b254 0%, #ffcc4d 51.04%, #de2e43 100%);
    border-radius: 0px 0px 10px 10px;
    padding: 3px 10px;
    height: 30px;
}

/*progress bar*/

.progress-dynamic {
    border-radius: 0px 0px 10px 10px;
    background: linear-gradient(90deg, #77b254 0%, #ffcc4d 51.04%, #de2e43 100%);
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    bottom: 0;
    width: 100%;
    justify-content: right;
}

.progress-transparent {
    border-radius: 0px 0px 0px 10px;
    height: 30px;
    background-color: transparent;
}

.progress-black {
    border-radius: 0px 0px 10px 0px;
    height: 30px;
    background-color: black;
}

.progress-view {
    position: absolute;
    bottom: -4px;
    left: -3px;
    width: 100%;
    height: 30px;
    background-color: transparent;
    color: white;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: 30px;
    border-bottom: 4px solid #efefef;
    border-left: 3px solid #efefef;
    box-sizing: content-box;
    border-radius: 0px 0px 10px 10px;
}
