.container-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-title {
    display: flex;
    align-items: stretch;
    .icon {
        align-self: center;
        margin-right: 8px;
    }
    .title {
        margin: 0px;
        align-self: center;
    }
}

.item-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 7px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    /* or 200% */
    letter-spacing: 0.5px;
    color: #828282;
}