<div class="container">
  <h2 mat-dialog-title class="card">
    <div class="card--title" mat-dialog-close>
      <mat-icon mat-list-icon>create</mat-icon>
    </div>
    Actualizar PPTO.
    <span class="ms-fill"></span>
    <div mat-dialog-close class="card--title__close--button">
      <mat-icon>clear</mat-icon>
    </div>
  </h2>
  <mat-divider></mat-divider>

  <mat-dialog-content>
    <mat-horizontal-stepper #stepper>
      <mat-step [stepControl]="firstFormGroup" errorMessage="Name is required.">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Archivos</ng-template>
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input
              matInput
              placeholder="Last name, First name"
              formControlName="firstCtrl"
              required
            />
          </mat-form-field>
          <div>
            <p>Go to a different step to see the error state</p>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step
        [stepControl]="secondFormGroup"
        errorMessage="Address is required."
      >
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Enviar PPTO.</ng-template>
          <mat-form-field>
            <mat-label>Address</mat-label>
            <input
              matInput
              placeholder="Ex. 1 Main St, New York, NY"
              formControlName="secondCtrl"
              required
            />
          </mat-form-field>
          <div>
            <p>Go to a different step to see the error state</p>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <!-- <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step> -->
    </mat-horizontal-stepper>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button type="button" mat-stroked-button color="warn" mat-dialog-close>
      CERRAR
    </button>
    <button type="submit" mat-raised-button color="primary">GUARDAR</button>
    <button type="submit" mat-raised-button color="primary">CONTINUAR</button>
  </mat-dialog-actions>
</div>
