.container {
  width: 800px;
}

.card {
  display: flex;
  padding-bottom: 0px;
  margin-bottom: 0px;
  &--title {
    margin-top: 5px;
    margin-right: 15px;
    &__close--button {
      margin-top: 5px;
      margin-left: 220px;
      cursor: pointer;
    }
  }
}
