<h2 mat-dialog-title>
    <div class="container-h2">
        <button mat-icon-button>
            <mat-icon>delete</mat-icon>
            <span>
                Borrar
            </span>
        </button>
        <button mat-icon-button mat-dialog-close>
            <mat-icon style="color: gray;">close</mat-icon>
        </button>
    </div>
    <mat-divider></mat-divider>
</h2>
<mat-dialog-content class="mat-typography" style="color: gray;">
    ¿Estas seguro de borrar la mejora?
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button type="button" mat-stroked-button color="warn" class="footer__btn-close" mat-dialog-close>CERRAR</button>
    <button type="button" mat-raised-button color="primary" class="footer__btn-save" cdkFocusInitial (click)="deteteImprovenment()">SI, BORRAR</button>
</mat-dialog-actions>