<h2 mat-dialog-title>
    <span>
        <!-- <mat-icon>delete</mat-icon> -->
        Borrar
    </span>
    <mat-divider></mat-divider>
</h2>
<mat-dialog-content class="mat-typography">
    ¿Estas seguro de borrar la mejora?
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button type="button" mat-stroked-button color="warn" class="footer__btn-close" mat-dialog-close>CERRAR</button>
    <button type="button" mat-raised-button color="primary" class="footer__btn-save">ENVIAR</button>
</mat-dialog-actions>