.container-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form {
    &__input {
        width: 100%;
        max-width: 450px
    }
    &__image1 {
        &--image {
            width: 100%;
        }
    }
    &__image2 {
        &--imgUpload {
            width: 100%;
        }
    }
}



.file-input {
    display: none;
}

.file-cta,
.file-name {
    border-color: #dbdbdb;
    border-radius: 4px;
    font-size: 1em;
    white-space: nowrap;
}
.file-cta {
    background-color: #f5f5f5;
    color: #4a4a4a;
}

.file-cta,
.file-name,
.input {
    -moz-appearance: none;
    -webkit-appearance: none;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: none;
    display: inline-flex;
    font-size: 1rem;
    height: 2.25em;
    justify-content: flex-start;
    line-height: 1.5;
    padding-bottom: calc(0.375em - 1px);
    padding-left: calc(0.625em - 1px);
    padding-right: calc(0.625em - 1px);
    padding-top: calc(0.375em - 1px);
    position: relative;
    vertical-align: top;
}


 /* 
  ##Dispositivo = Tablets de baja resolucion y telefnos Mobiles (horizontal)
  ##Resolucion = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {  
    .imge{
        width: 200px;
        height: 150px;
    }
    .form{
        &__input{
            width: 300px;
        }
    }
    .dropzone {
        width: 400px;
        height: 300px;
    }
}

/* 
  ##Dispositivo = Mayoria de telefonos moviles (vertical)
  ##Resolucion = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {    
    .imge{
        width: 150px;
        height: 100px;
    }
    .form{
        &__input{
            width: 300px;
        }
    }
    .dropzone {
        width: 300px;
        height: 200px;
    }
}