<div class="container">
    <div class="header-container">
        <mat-icon mat-list-icon class="mat-icon-menu" style="font-size: 2.5em;">dashboard</mat-icon>
        <h1 style="font-size: 2.2em; margin-left: 20px; font-family: 'Poppins', sans-serif; font-weight: 700;">DASHBOARD</h1>  
        <div class="container-date">
            <mat-form-field class="w3-margin-top w3-margin-bottom w3-block" style="max-width: 350px;" appearance="outline">
              <mat-label>FECHA/PERIODO</mat-label>
              <mat-date-range-input [formGroup]="dateForm" [rangePicker]="picker">
                <input readonly matStartDate formControlName="start" placeholder="Fecha Inicio">
                <input readonly matEndDate formControlName="end" placeholder="Fecha Final">
              </mat-date-range-input>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>    
        </div>      
    </div>
    <div class="body-container">
        <div class="container1">
            <div class="container1__problem">
                <h1 class="container1__problem--title" >
                    Reportes de tipo problema
                </h1>
                
                <div class="charts">
                    <canvas id="problem" width="400" height="200"></canvas>
                  </div>

            </div>
            <div class="container1__top">
                <h1 class="container1__top--title1">
                    Top 10 mas demorados
                </h1>
                <table class="container1__top--table">
                   <!--  <tr>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Age</th>
                    </tr> -->
                    <tr>
                        <td>1</td>
                        <td>OT CLILD</td>
                        <td>12:34:01</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>OT CLILD</td>
                        <td>12:34:01</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>OT CLILD</td>
                        <td>12:34:01</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>OT CLILD</td>
                        <td>12:34:01</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>OT CLILD</td>
                        <td>12:34:01</td>
                    </tr>
                </table>
            </div>

            <div class="container1__answer">
                <h1 class="container1__answer--title" >
                    Promedio tiempo de respuesta
                </h1>
                
                <div class="charts">
                    <canvas id="answer" width="400" height="200"></canvas>
                  </div>

            </div>
        </div>

        <div class="container2">
            <div class="container2__taller">
                <h1 class="container2__taller--title">
                    Reporte por taller
                </h1>
                <div class="container2__taller--cards">
                    <div class="container2__taller--cards-card" (click)="reports()">
                        <div style="display: flex; text-align: center; margin: 20px 15px 10px 15px;">
                            <mat-icon mat-list-icon class="mat-icon-menu" style="font-size: 1.5em;margin-top: 1px;">domain</mat-icon>
                            <p style="font-family: 'Poppins', sans-serif; font-size: 1.5em;">
                            nombre de taller
                            </p>  
                        </div>
                        <h1 style="font-weight: 700; text-align: center; font-size: 7em; margin-top: 30px;">10</h1>
                    </div>
                    <div class="container2__taller--cards-card" (click)="reports()">
                        <div style="display: flex; text-align: center; margin: 20px 15px 10px 15px;">
                            <mat-icon mat-list-icon class="mat-icon-menu" style="font-size: 1.5em;margin-top: 1px;">domain</mat-icon>
                            <p style="font-family: 'Poppins', sans-serif; font-size: 1.5em;">
                            nombre de taller
                            </p>  
                        </div>
                        <h1 style="font-weight: 700; text-align: center; font-size: 7em; margin-top: 30px;">10</h1>
                    </div>
                    <div class="container2__taller--cards-card" (click)="reports()">
                        <div style="display: flex; text-align: center; margin: 20px 15px 10px 15px;">
                            <mat-icon mat-list-icon class="mat-icon-menu" style="font-size: 1.5em;margin-top: 1px;">domain</mat-icon>
                            <p style="font-family: 'Poppins', sans-serif; font-size: 1.5em;">
                            nombre de taller
                            </p>  
                        </div>
                        <h1 style="font-weight: 700; text-align: center; font-size: 7em; margin-top: 30px;">10</h1>
                    </div>
                    <div class="container2__taller--cards-card" (click)="reports()">
                        <div style="display: flex; text-align: center; margin: 20px 15px 10px 15px;">
                            <mat-icon mat-list-icon class="mat-icon-menu" style="font-size: 1.5em;margin-top: 1px;">domain</mat-icon>
                            <p style="font-family: 'Poppins', sans-serif; font-size: 1.5em;">
                            nombre de taller
                            </p>  
                        </div>
                        <h1 style="font-weight: 700; text-align: center; font-size: 7em; margin-top: 30px;">10</h1>
                    </div>
                    <div class="container2__taller--cards-card" (click)="reports()">
                        <div style="display: flex; text-align: center; margin: 20px 15px 10px 15px;">
                            <mat-icon mat-list-icon class="mat-icon-menu" style="font-size: 1.5em;margin-top: 1px;">domain</mat-icon>
                            <p style="font-family: 'Poppins', sans-serif; font-size: 1.5em;">
                            nombre de taller
                            </p>  
                        </div>
                        <h1 style="font-weight: 700; text-align: center; font-size: 7em; margin-top: 30px;">10</h1>
                    </div>
                    <div class="container2__taller--cards-card" (click)="reports()">
                        <div style="display: flex; text-align: center; margin: 20px 15px 10px 15px;">
                            <mat-icon mat-list-icon class="mat-icon-menu" style="font-size: 1.5em;margin-top: 1px;">domain</mat-icon>
                            <p style="font-family: 'Poppins', sans-serif; font-size: 1.5em;">
                            nombre de taller
                            </p>  
                        </div>
                        <h1 style="font-weight: 700; text-align: center; font-size: 7em; margin-top: 30px;">10</h1>
                    </div>
                    <div class="container2__taller--cards-card" (click)="reports()">
                        <div style="display: flex; text-align: center; margin: 20px 15px 10px 15px;">
                            <mat-icon mat-list-icon class="mat-icon-menu" style="font-size: 1.5em;margin-top: 1px;">domain</mat-icon>
                            <p style="font-family: 'Poppins', sans-serif; font-size: 1.5em;">
                            nombre de taller
                            </p>  
                        </div>
                        <h1 style="font-weight: 700; text-align: center; font-size: 7em; margin-top: 30px;">10</h1>
                    </div>
                    <div class="container2__taller--cards-card" (click)="reports()">
                        <div style="display: flex; text-align: center; margin: 20px 15px 10px 15px;">
                            <mat-icon mat-list-icon class="mat-icon-menu" style="font-size: 1.5em;margin-top: 1px;">domain</mat-icon>
                            <p style="font-family: 'Poppins', sans-serif; font-size: 1.5em;">
                            nombre de taller
                            </p>  
                        </div>
                        <h1 style="font-weight: 700; text-align: center; font-size: 7em; margin-top: 30px;">10</h1>
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </div>
</div>