.container {
    margin: 30px 70px 30px 70px;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content:space-between ;
}

.header-container {
    display: flex;
    margin-bottom: 25px;
    
    &__search{
        display: flex;
        margin-left: 50px;
        border : 1px solid #D8D8D8;  
        &--input{
            border: transparent;
            height: 30px;
            width: 20vw;
            &::placeholder {
                color: #aeaeae;
            }
            &:focus {
                outline: none;
            }
        }  
    }    
}

.btn{   
    margin-right: 30px;
    margin-top: 10px;

    &__download{
        border: 1px solid #6200EE;
        background: white;
        color: #6200EE;
    }
}

.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 50px;
    margin-top: 30px;
    
    &__download{
        background: #6200EE;
        color: white;
    }

}
.container-table {
    margin-top: 30px;
    max-width: 100%;
    overflow: auto;
  }

table {
    .table__cell {
      min-width: 90px;
      padding: 0px 8px;
    }
  }

.theader{
    background: #F0EEFC;
    color:#2B2B2B;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
}

.btn-state-parado{
    background: #FF2D2D;
    color: white;
    width: 100px;
}
    
.btn-state-retomado{
    background: #27AE60;
    color: white;
    width: 100px;
}



