<div class="container">
  <div class="header-container">
    <mat-icon mat-list-icon class="mat-icon-menu" style="font-size: 2.5em;">turned_in</mat-icon>
    <h1 style="font-size: 2.5em; margin-left: 20px;">Mejoras</h1>
    <button type="file" aria-label="add" mat-button class="btn-add" (click)="openDialog('create')">
      <mat-icon aria-label="agregar" class="icon-add">add</mat-icon>
      CREAR
    </button>
  </div>
  <div class="body-container">
    <div *ngIf="improvement$ |async">
      <table mat-table [dataSource]="improvementDataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Fecha </th>
          <td mat-cell *matCellDef="let element"> {{(element.date.seconds * 1000) | date : 'dd/MM/yy'}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Nombre de Mejora </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
        <ng-container matColumnDef="component">
          <th mat-header-cell *matHeaderCellDef> Componente </th>
          <td mat-cell *matCellDef="let element"> {{element.component}} </td>
        </ng-container>
        <ng-container matColumnDef="model">
          <th mat-header-cell *matHeaderCellDef> Modelo </th>
          <td mat-cell *matCellDef="let element"> {{element.model}} </td>
        </ng-container>
        <ng-container matColumnDef="review">
          <th mat-header-cell *matHeaderCellDef> Mejora critica </th>
          <td mat-cell *matCellDef="let element"> {{element.criticalPart ? 'Si':'No'}} </td>
        </ng-container>

        <ng-container matColumnDef="user">
          <th mat-header-cell *matHeaderCellDef> Usuario </th>
          <td mat-cell *matCellDef="let element"> {{element.createdBy.name}} </td>
        </ng-container>

        <ng-container matColumnDef="state">
          <th mat-header-cell *matHeaderCellDef> Estado </th>
          <td mat-cell *matCellDef="let element">
            <button mat-button
              [ngClass]="{'btn-state-register': element.state==='registered','btn-state-validate': element.state==='validated'}">
              {{element.state === 'registered' ? 'Registrado':'Validado'}}
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="actions" stickyEnd>
          <th mat-header-cell *matHeaderCellDef>
            Acciones
          </th>
          <td mat-cell *matCellDef="let element; let i = index">
            <ng-container>
              <mat-menu #rawMenu="matMenu">
                <button class="w3-small" mat-menu-item (click)="openDialog('validate', element, i)">
                  <mat-icon>check_circle</mat-icon>
                  Validar
                </button>
                <button class="w3-small" mat-menu-item (click)="openDialog('edit', element, i)">
                  <mat-icon>edit</mat-icon>
                  Editar
                </button>
                <button class="w3-small" mat-menu-item (click)="openDialog('delete',element,i)">
                  <mat-icon>delete</mat-icon>
                  Borrar
                </button>
              </mat-menu>

              <button mat-icon-button [matMenuTriggerFor]="rawMenu">
                <mat-icon>more_vert</mat-icon>
              </button>
            </ng-container>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="improvementDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: improvementDisplayedColumns;"></tr>
      </table>
    </div>
    <mat-paginator #improvementPaginator class="ms-paginator" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
    </mat-paginator>
  </div>
</div>