<div class="container">
    <div class="header-container">
        <mat-icon mat-list-icon class="mat-icon-menu" style="font-size: 2.5em;">view_stream</mat-icon>
        <h1 style="font-size: 2.2em; margin-left: 20px; font-family: 'Poppins', sans-serif; font-weight: 700;">Frecuencias
        </h1>
        <button type="file" aria-label="add" mat-button class="btn-add" (click)="openDialog('upload')">
            <mat-icon aria-label="agregar" class="icon-add">memory</mat-icon>
            CALCULAR
        </button>
    </div>
    <div class="body-container">
        <div *ngIf="frequencies$ |async">
            <table mat-table [dataSource]="frequenciesDataSource" class="mat-elevation-z8">

                <ng-container matColumnDef="createdAt">
                    <th mat-header-cell *matHeaderCellDef> Fecha </th>
                    <td mat-cell *matCellDef="let element"> {{(element.createdAt.seconds * 1000) | date : 'dd/MM/yy'}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="pano20">
                    <th mat-header-cell *matHeaderCellDef> Nro Parte </th>
                    <td mat-cell *matCellDef="let element"> {{element.pano20}} </td>
                </ng-container>
                <ng-container matColumnDef="component">
                    <th mat-header-cell *matHeaderCellDef> Componente </th>
                    <td mat-cell *matCellDef="let element"> {{element.component}} </td>
                </ng-container>
                <ng-container matColumnDef="frequency">
                    <th mat-header-cell *matHeaderCellDef> Frecuencia </th>
                    <td mat-cell *matCellDef="let element"> {{element.frequency}} </td>
                </ng-container>
                <ng-container matColumnDef="min">
                    <th mat-header-cell *matHeaderCellDef>Valor mínimo</th>
                    <td mat-cell *matCellDef="let element"> {{element.min}} </td>
                </ng-container>

                <ng-container matColumnDef="max">
                    <th mat-header-cell *matHeaderCellDef>Valor máximo</th>
                    <td mat-cell *matCellDef="let element"> {{element.max}} </td>
                </ng-container>

                <ng-container matColumnDef="createdBy">
                    <th mat-header-cell *matHeaderCellDef>Usuario</th>
                    <td mat-cell *matCellDef="let element"> {{element.createdBy ? element.createdBy.name : '---'}} </td>
                </ng-container>

                <ng-container matColumnDef="actions" stickyEnd>
                    <th mat-header-cell *matHeaderCellDef>
                        Acciones
                    </th>
                    <td mat-cell *matCellDef="let element; let i = index">
                        <ng-container>
                            <mat-menu #rawMenu="matMenu">
                                <button class="w3-small" mat-menu-item (click)="openDialog('edit', element, i)">
                                    <mat-icon>edit</mat-icon>
                                    Editar
                                </button>
                                <button *ngIf="element.state==='registered'" class="w3-small" mat-menu-item
                                    (click)="openDialog('delete',element,i)">
                                    <mat-icon>delete</mat-icon>
                                    Borrar
                                </button>
                            </mat-menu>

                            <button mat-icon-button [matMenuTriggerFor]="rawMenu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                        </ng-container>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="frequenciesDisplayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: frequenciesDisplayedColumns;"></tr>
            </table>
        </div>
        <mat-paginator #frequenciesPaginator class="ms-paginator" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
        </mat-paginator>
    </div>
</div>