
<div>
    <div class="ms-dialog-header">
        <mat-icon class="ms-dialog-header__icon">how_to_reg</mat-icon>
        <h3 class="ms-dialog-header__title"> Asignar especialista </h3>
        <span class="ms-fill"></span>
        <button mat-icon-button mat-dialog-close>
            <mat-icon>cancel</mat-icon>
        </button>
    </div>
    <mat-divider></mat-divider>

    <mat-dialog-content style="margin-top: 20px;" >
        <mat-progress-bar mode="indeterminate" *ngIf="loading$ | async"></mat-progress-bar>
        <div>
            <form [formGroup]="specialistForm" class="timer-container">                
               
                <mat-form-field *ngIf="specialist$ | async as specialists" style="margin-bottom: 8px; display: block"
                    appearance="outline">
                    <mat-label>Especialista</mat-label>
                    <input autocomplete="off" formControlName="specialist" [matAutocomplete]="specialistAutocomplete" type="text"
                    matInput name="specialist" />
                    <mat-autocomplete autoActiveFirstOption #specialistAutocomplete="matAutocomplete"
                   (optionSelected)="selectedEntrySpecialist($event)" 
                   [displayWith]="showEntrySpecialist"
                        >
                        <mat-option *ngFor="let specialist of specialists" [value]="specialist">           
                            {{ specialist['name']}}           
                        </mat-option>        
                    </mat-autocomplete>
                    <mat-error>
                        <span *ngIf="specialistForm.get('specialist').errors?.required">Por favor, complete el campo.</span>
                        <span *ngIf="specialistForm.get('specialist').errors?.invalid">Dato inválido. Complete con alguna opción
                          válida.</span>
                      </mat-error>
              </mat-form-field>

                <mat-form-field *ngIf="filteredBroadcast$ | async as broadcasts" appearance="outline" id="result" class="timer-container__input">                     
                    <mat-label>Enviar a</mat-label>
                    <mat-chip-list #chipList aria-label="Fruit selection">
                      <mat-chip
                        *ngFor="let email of emailArray"
                        [selectable]="selectable"
                        [removable]="removable"
                        (removed)="removeEmail(email)">
                        {{email}}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                      </mat-chip>
                      <input
                        placeholder="agregar nueva lista de difusion..."
                        #emailInput
                        [formControl]="broadcastControl"
                        [matAutocomplete]="auto"
                        [matChipInputFor]="chipList"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                        (matChipInputTokenEnd)="addBroadcast($event)">
                    </mat-chip-list>
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedBroadcast($event)">
                      <mat-option *ngFor="let broadcast of broadcasts" [value]="broadcast">
                        {{broadcast.name}}
                      </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                
                <br>
            </form>
        </div>

    </mat-dialog-content>

    <mat-dialog-actions align="end">        
        <button mat-stroked-button color="warn" mat-dialog-close [disabled]="loading$ | async">CANCELAR</button>
        <button mat-stroked-button color="primary" (click)="save()" [disabled]="loading$ | async">INICIAR</button>
    </mat-dialog-actions>
</div>