<div class="container">
  <h2 mat-dialog-title class="card">
    <div class="modify-title" mat-dialog-close>
      <mat-icon mat-list-icon>edit</mat-icon>
    </div>
    Modificar Presupuesto
    <span class="ms-fill"></span>
    <div mat-dialog-close class="modify-title--close">
      <mat-icon>clear</mat-icon>
    </div>
  </h2>
  <mat-divider></mat-divider>
  <br />

  <mat-dialog-content>
    <div class="main--wrapper">
      <div class="main--form">
        <mat-form-field appearance="outline">
          <mat-label>Motivo</mat-label>
          <input
            matInput
            type="text"
            [formControl]="modificationReasonControl"
            [matAutocomplete]="autoModify"
          />
          <mat-autocomplete
            #autoModify="matAutocomplete"
            [displayWith]="showModification"
          >
            <mat-option *ngFor="let option of modificationReasonList | async">
              {{ option.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>
</div>
