.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 8px 0px;

    &__title {
        font-family: Poppins !important;
        font-style: normal !important;
        font-weight: bold !important;
        font-size: 18px !important;
        line-height: 27px !important;
        color: rgba(43, 43, 43, 0.87) !important;
        margin: 0px 0px;
    }

    &__icon {
        color: gray;
        margin-right: 1rem;
    }
}
