<h2 mat-dialog-title>
    <div class="container-header">
        <div class="container-title">
            <mat-icon class="icon">delete</mat-icon>
            <h3 class="title">
                Borrar
            </h3>
        </div>
        <button mat-icon-button mat-dialog-close>
            <mat-icon style="color: gray;">close</mat-icon>
        </button>
    </div>
    <mat-divider></mat-divider>
</h2>
<mat-progress-bar mode="indeterminate" *ngIf="loading$ | async"></mat-progress-bar>

<mat-dialog-content class="mat-typography" style="color: gray; margin: 24px 0px 16px 0px">
    <p>¿Esta seguro de borrar la lista de <span style="font-weight: bold;">{{data.name}} </span>?</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button type="button" mat-stroked-button color="warn" class="footer__btn-close" mat-dialog-close>CERRAR</button>
    <button type="button" mat-raised-button color="primary" class="footer__btn-save" cdkFocusInitial (click)="deleteBroadcastList()" >SI, BORRAR</button>
</mat-dialog-actions>