

<div>
    <div class="ms-dialog-header">
        <mat-icon class="ms-dialog-header__icon">timeline</mat-icon>
        <h3 class="ms-dialog-header__title">Línea de tiempo <span style="font-size: 0.8rem; color: grey; margin-left: 1rem">OT -{{data.workOrder}} </span> </h3>           
        <span class="ms-fill"></span>
        <button mat-icon-button mat-dialog-close>
            <mat-icon>cancel</mat-icon>
        </button>
    </div>
    <mat-divider></mat-divider>

    <mat-divider></mat-divider>
    <mat-progress-bar mode="indeterminate" *ngIf="loading$ | async"></mat-progress-bar>
    <mat-dialog-content style="display: flex; align-items: center;; justify-content: space-between;">
        <div class="details">
            <p><span style="font-weight: bold;"> OT Actual :</span> {{data.workOrder ? data.workOrder : ''}}</p>
            <p><span style="font-weight: bold;"> Componente :</span> {{data.component ? data.component : ''}}</p>
            <p><span style="font-weight: bold;"> Número de paqueteo :</span> {{data.packageNumber ? data.packageNumber : ''}}</p>
            <p><span style="font-weight: bold;"> Horómetro de componente :</span> {{data.componentHourMeter ? data.componentHourMeter : ''}}</p>
            <p><span style="font-weight: bold;"> Número de parte :</span> {{data.partNumber ? data.partNumber : ''}}</p>
            <p><span style="font-weight: bold;"> Tipo de evento :</span> {{data.eventType ? data.eventType : ''}} </p>
        </div>
        <div>

        </div>
    </mat-dialog-content>
   
</div>