
.step-title{
    font-size: 1.3em;
    font-weight: bold;
}

.container{
    &__form{
        &--input{
            width: 430px;

        }
    }

    .container__title{
        font-weight: bold;

    }

    .container__result{
        display: flex;
        justify-content : flex-end;
        &--result{
            border-radius: 5px;
            border: none;
            background: #92D050;
            color: black;
            padding: 10px 80px 10px 80px;
            font-size: 1.5em;
            font-weight: bold;
        }
    }
}

.form-corrective{

    &__input1{
        width: 260px;
        margin-right: 15px; 
    }
    &__input2{
        width: 160px;
        margin-right: 15px;
    }
    &__btn-add{
        margin-top: 15px;
    }

    &__btn-delete{

    }
}

.link-text{
    color: #0064EA;
}

.chip-form-input{
    width: 550px;
}