<div class="ms-container">
  <div class="ms-toolbar">
    <mat-icon mat-list-icon class="ms-toolbar__icon">view_day</mat-icon>
    <h1
      class="ms-toolbar__title"
      [ngClass]="
        isMobile ? 'ms-toolbar__title--mobile' : 'ms-toolbar__title--desktop'
      "
    >
      Entrada diaria
    </h1>
    <input
      style="display: none"
      type="file"
      accept=".csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
      (change)="loadFile($event.target.files)"
      #loadFileInputElement
    />
    <button
      mat-stroked-button
      class="ms-toolbar__button"
      [ngClass]="
        isMobile ? 'ms-toolbar__button--mobile' : 'ms-toolbar__button--desktop'
      "
      (click)="loadFileInputElement.click()"
    >
      <mat-icon aria-label="upload" class="icon-add">add</mat-icon>
      SUBIR ARCHIVO
    </button>
    <button
      *ngIf="budgetUploaded"
      (click)="goToBudgets()"
      mat-stroked-button
      class="ms-toolbar__button"
      [ngClass]="
        isMobile ? 'ms-toolbar__button--mobile' : 'ms-toolbar__button--desktop'
      "
    >
      <mat-icon class="icon-add">launch</mat-icon>
      IR A PRESUPUESTOS
    </button>
  </div>
  <mat-divider></mat-divider>

  <div class="body-container">
    <mat-progress-bar
      mode="indeterminate"
      *ngIf="loading$ | async"
    ></mat-progress-bar>

    <div style="overflow: auto">
      <table
        mat-table
        [dataSource]="budgetsDailyEntriesDataSource"
        matSort
        class="mat-elevation-z8"
        style="margin: 1em 1em"
      >
        <ng-container matColumnDef="checkUpgrade">
          <th mat-header-cell *matHeaderCellDef class="table__head">Monitor</th>
          <td
            mat-cell
            *matCellDef="let element; let i = index"
            class="table__cell"
          >
            <ng-container
              *ngIf="element.checkUpgrade | async as upgrade; else loadingCheck"
            >
              <div>
                <div
                  *ngIf="upgrade.isDuplicated && !element.applyUpgrade"
                  class="entry entry--duplicated"
                  matTooltip="La información de este presupuesto ya existe en la base de datos, por lo que será omitida en el proceso de carga"
                  matTooltipPosition="right"
                >
                  Duplicado {{ markAsDuplicated(i) }}
                </div>

                <div *ngIf="!upgrade.isDuplicated" class="entry entry--new">
                  Nuevo
                </div>

                <div
                  *ngIf="
                    upgrade.isDuplicated &&
                    upgrade.canUpgrade &&
                    !element.applyUpgrade
                  "
                  class="entry entry--upgrade"
                  matRipple
                  matTooltip="Hay información nueva en esta entrada. Al presionar este botón, el proceso de carga actualizará el presupuesto con esta información."
                  matTooltipPosition="right"
                  (click)="applyUpgrade(upgrade.fields, i)"
                >
                  Upgrade?
                </div>

                <div
                  *ngIf="
                    upgrade.isDuplicated &&
                    upgrade.canUpgrade &&
                    element.applyUpgrade
                  "
                  class="entry entry--cancel"
                  matRipple
                  matTooltip="Al presionar este boton, cancelará la actualización del presupuesto con la nueva entrada"
                  matTooltipPosition="right"
                  (click)="cancelUpgrade(i)"
                >
                  Cancelar
                </div>
              </div>
            </ng-container>
            <ng-template #loadingCheck>
              <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </ng-template>
          </td>
        </ng-container>

        <ng-container matColumnDef="taller">
          <th mat-header-cell *matHeaderCellDef class="table__head">Taller</th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            <div *ngIf="element.budgetDifferences?.taller; else defaultTaller">
              <span class="upgrade upgrade--replaced" matTooltip="Base de datos"
                ><mat-icon>dns</mat-icon
                >{{
                  element.budgetDifferences.taller
                    ? element.budgetDifferences.taller
                    : "---"
                }}</span
              ><br />
              <span class="upgrade upgrade--replacement" matTooltip="Excel"
                ><mat-icon>post_add</mat-icon
                >{{ element.taller ? element.taller : "---" }}</span
              >
            </div>
            <ng-template #defaultTaller>
              {{ element.taller ? element.taller : "---" }}
            </ng-template>
          </td>
        </ng-container>

        <ng-container matColumnDef="woMain">
          <th mat-header-cell *matHeaderCellDef class="table__head">WO MAIN</th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            <div *ngIf="element.budgetDifferences?.woMain; else defaultWoMain">
              <span class="upgrade upgrade--replaced" matTooltip="Base de datos"
                ><mat-icon>dns</mat-icon
                >{{
                  element.budgetDifferences.woMain
                    ? element.budgetDifferences.woMain
                    : "---"
                }}</span
              ><br />
              <span class="upgrade upgrade--replacement" matTooltip="Excel"
                ><mat-icon>post_add</mat-icon
                >{{ element.woMain ? element.woMain : "---" }}</span
              >
            </div>
            <ng-template #defaultWoMain>
              {{ element.woMain ? element.woMain : "---" }}
            </ng-template>
          </td>
        </ng-container>

        <ng-container matColumnDef="ioMain">
          <th mat-header-cell *matHeaderCellDef class="table__head">IO MAIN</th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            <div *ngIf="element.budgetDifferences?.ioMain; else defaultIoMain">
              <span class="upgrade upgrade--replaced" matTooltip="Base de datos"
                ><mat-icon>dns</mat-icon
                >{{
                  element.budgetDifferences.ioMain
                    ? element.budgetDifferences.ioMain
                    : "---"
                }}</span
              ><br />
              <span class="upgrade upgrade--replacement" matTooltip="Excel"
                ><mat-icon>post_add</mat-icon
                >{{ element.ioMain ? element.ioMain : "---" }}</span
              >
            </div>
            <ng-template #defaultIoMain>
              {{ element.ioMain ? element.ioMain : "---" }}
            </ng-template>
          </td>
        </ng-container>

        <ng-container matColumnDef="woChild">
          <th mat-header-cell *matHeaderCellDef class="table__head">
            WO CHILD
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            <div
              *ngIf="element.budgetDifferences?.woChild; else defaultWoChild"
            >
              <span class="upgrade upgrade--replaced" matTooltip="Base de datos"
                ><mat-icon>dns</mat-icon
                >{{
                  element.budgetDifferences.woChild
                    ? element.budgetDifferences.woChild
                    : "---"
                }}</span
              ><br />
              <span class="upgrade upgrade--replacement" matTooltip="Excel"
                ><mat-icon>post_add</mat-icon
                >{{ element.woChild ? element.woChild : "---" }}</span
              >
            </div>
            <ng-template #defaultWoChild>
              {{ element.woChild ? element.woChild : "---" }}
            </ng-template>
          </td>
        </ng-container>

        <ng-container matColumnDef="ioChild">
          <th mat-header-cell *matHeaderCellDef class="table__head">
            IO CHILD
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            <div
              *ngIf="element.budgetDifferences?.ioChild; else defaultIoChild"
            >
              <span class="upgrade upgrade--replaced" matTooltip="Base de datos"
                ><mat-icon>dns</mat-icon
                >{{
                  element.budgetDifferences.ioChild
                    ? element.budgetDifferences.ioChild
                    : "---"
                }}</span
              ><br />
              <span class="upgrade upgrade--replacement" matTooltip="Excel"
                ><mat-icon>post_add</mat-icon
                >{{ element.ioChild ? element.ioChild : "---" }}</span
              >
            </div>
            <ng-template #defaultIoChild>
              {{ element.ioChild ? element.ioChild : "---" }}
            </ng-template>
          </td>
        </ng-container>

        <ng-container matColumnDef="statusWoChild">
          <th mat-header-cell *matHeaderCellDef class="table__head">
            Status WO CHILD
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            <div
              *ngIf="
                element.budgetDifferences?.statusWoChild;
                else defaultStatusWoChild
              "
            >
              <span class="upgrade upgrade--replaced" matTooltip="Base de datos"
                ><mat-icon>dns</mat-icon
                >{{
                  element.budgetDifferences.statusWoChild
                    ? element.budgetDifferences.statusWoChild
                    : "---"
                }}</span
              ><br />
              <span class="upgrade upgrade--replacement" matTooltip="Excel"
                ><mat-icon>post_add</mat-icon
                >{{
                  element.statusWoChild ? element.statusWoChild : "---"
                }}</span
              >
            </div>
            <ng-template #defaultStatusWoChild>
              {{ element.statusWoChild ? element.statusWoChild : "---" }}
            </ng-template>
          </td>
        </ng-container>

        <ng-container matColumnDef="otTaller">
          <th mat-header-cell *matHeaderCellDef class="table__head">
            OT Taller
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            <div
              *ngIf="element.budgetDifferences?.otTaller; else defaultOtTaller"
            >
              <span class="upgrade upgrade--replaced" matTooltip="Base de datos"
                ><mat-icon>dns</mat-icon
                >{{
                  element.budgetDifferences.otTaller
                    ? element.budgetDifferences.otTaller
                    : "---"
                }}</span
              ><br />
              <span class="upgrade upgrade--replacement" matTooltip="Excel"
                ><mat-icon>post_add</mat-icon
                >{{ element.otTaller ? element.otTaller : "---" }}</span
              >
            </div>
            <ng-template #defaultOtTaller>
              {{ element.otTaller ? element.otTaller : "---" }}
            </ng-template>
          </td>
        </ng-container>

        <ng-container matColumnDef="otMadre">
          <th mat-header-cell *matHeaderCellDef class="table__head">
            OT Madre
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            <div
              *ngIf="element.budgetDifferences?.otMadre; else defaultOtMadre"
            >
              <span class="upgrade upgrade--replaced" matTooltip="Base de datos"
                ><mat-icon>dns</mat-icon
                >{{
                  element.budgetDifferences.otMadre
                    ? element.budgetDifferences.otMadre
                    : "---"
                }}</span
              ><br />
              <span class="upgrade upgrade--replacement" matTooltip="Excel"
                ><mat-icon>post_add</mat-icon
                >{{ element.otMadre ? element.otMadre : "---" }}</span
              >
            </div>
            <ng-template #defaultOtMadre>
              {{ element.otMadre ? element.otMadre : "---" }}
            </ng-template>
          </td>
        </ng-container>

        <ng-container matColumnDef="fechaAperturaChild">
          <th mat-header-cell *matHeaderCellDef class="table__head">
            Fecha apertura CHILD
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            <div
              *ngIf="
                element.budgetDifferences?.fechaAperturaChild;
                else defaultFechaAperturaChild
              "
            >
              <span class="upgrade upgrade--replaced" matTooltip="Base de datos"
                ><mat-icon>dns</mat-icon
                >{{
                  element.budgetDifferences.fechaAperturaChild
                    ? (element.budgetDifferences.fechaAperturaChild.toMillis()
                      | date: "dd/MM/yyyy")
                    : "---"
                }}</span
              ><br />
              <span class="upgrade upgrade--replacement" matTooltip="Excel"
                ><mat-icon>post_add</mat-icon
                >{{
                  element.fechaAperturaChild
                    ? (element.fechaAperturaChild | date: "dd/MM/yyyy")
                    : "---"
                }}</span
              >
            </div>
            <ng-template #defaultFechaAperturaChild>
              {{
                element.fechaAperturaChild
                  ? (element.fechaAperturaChild | date: "dd/MM/yyyy")
                  : "---"
              }}
            </ng-template>
          </td>
        </ng-container>

        <ng-container matColumnDef="fechaReleasedIoChild">
          <th mat-header-cell *matHeaderCellDef class="table__head">
            Fecha released CHILD
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{
              element.fechaReleasedIoChild
                ? (element.fechaReleasedIoChild | date: "dd/MM/yyyy")
                : "---"
            }}
          </td>
        </ng-container>

        <ng-container matColumnDef="cliente">
          <th mat-header-cell *matHeaderCellDef class="table__head">Cliente</th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{ element.cliente ? element.cliente : "---" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="gmorngm">
          <th mat-header-cell *matHeaderCellDef class="table__head">GM/NGM</th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{ element.gmorngm ? element.gmorngm : "---" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="modelo">
          <th mat-header-cell *matHeaderCellDef class="table__head">Modelo</th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{ element.modelo ? element.modelo : "---" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="tipoSS">
          <th mat-header-cell *matHeaderCellDef class="table__head">Tipo SS</th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{ element.tipoSS ? element.tipoSS : "---" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="servicio">
          <th mat-header-cell *matHeaderCellDef class="table__head">
            Servicio
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{ element.servicio ? element.servicio : "---" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="tipoAtencion">
          <th mat-header-cell *matHeaderCellDef class="table__head">
            Tipo atención
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{ element.tipoAtencion ? element.tipoAtencion : "---" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="modalidadPresupuesto">
          <th mat-header-cell *matHeaderCellDef class="table__head">
            Modalidad presupueseto
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{
              element.modalidadPresupuesto
                ? element.modalidadPresupuesto
                : "---"
            }}
          </td>
        </ng-container>

        <ng-container matColumnDef="componente">
          <th mat-header-cell *matHeaderCellDef class="table__head">
            Componente
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{ element.componente ? element.componente : "---" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="afa">
          <th mat-header-cell *matHeaderCellDef class="table__head">AFA</th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{ element.afa ? element.afa : "---" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="fechaUltimoListado">
          <th mat-header-cell *matHeaderCellDef class="table__head">
            Fecha último listado
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{
              element.fechaUltimoListado
                ? (element.fechaUltimoListado | date: "dd/MM/yyyy")
                : "---"
            }}
          </td>
        </ng-container>

        <ng-container matColumnDef="fechaUltimoEnvioDocumentoADM">
          <th mat-header-cell *matHeaderCellDef class="table__head">
            Fecha último envío dcto (ADM)
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{
              element.fechaUltimoEnvioDocumentoADM
                ? (element.fechaUltimoEnvioDocumentoADM | date: "dd/MM/yyyy")
                : "---"
            }}
          </td>
        </ng-container>

        <ng-container matColumnDef="ultimoDocumento">
          <th mat-header-cell *matHeaderCellDef class="table__head">
            Último dcto.
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{ element.ultimoDocumento ? element.ultimoDocumento : "---" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="fechaDefinicionDeCargos">
          <th mat-header-cell *matHeaderCellDef class="table__head">
            Fecha defin. cargos
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{
              element.fechaDefinicionDeCargos
                ? (element.fechaDefinicionDeCargos | date: "dd/MM/yyyy")
                : "---"
            }}
          </td>
        </ng-container>

        <!-- <ng-container matColumnDef="definicionDeCargo">
          <th mat-header-cell *matHeaderCellDef class="table__head">
            DEFINICION DE CARGO
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{ element.definicionDeCargo ? element.definicionDeCargo : "---" }}
          </td>
        </ng-container> -->

        <ng-container matColumnDef="fechaUltimoEnvioPPTO">
          <th mat-header-cell *matHeaderCellDef class="table__head">
            Fecha último envío PPTO
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{
              element.fechaUltimoEnvioPPTO
                ? (element.fechaUltimoEnvioPPTO | date: "dd/MM/yyyy")
                : "---"
            }}
          </td>
        </ng-container>

        <ng-container matColumnDef="fechaEnvioPPTO01">
          <th mat-header-cell *matHeaderCellDef class="table__head">
            Fecha envío PPTO 01
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{
              element.fechaEnvioPPTO01
                ? (element.fechaEnvioPPTO01 | date: "dd/MM/yyyy")
                : "---"
            }}
          </td>
        </ng-container>

        <ng-container matColumnDef="fechaEnvioPPTO02">
          <th mat-header-cell *matHeaderCellDef class="table__head">
            Fecha envío PPTO 02
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{
              element.fechaEnvioPPTO02
                ? (element.fechaEnvioPPTO02 | date: "dd/MM/yyyy")
                : "---"
            }}
          </td>
        </ng-container>

        <!-- <ng-container matColumnDef="motivoDeModificacion02">
          <th mat-header-cell *matHeaderCellDef class="table__head">
            MOTIVO DE MODIFICACION 02
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{
              element.motivoDeModificacion02
                ? element.motivoDeModificacion02
                : "---"
            }}
          </td>
        </ng-container>

        <ng-container matColumnDef="detalleDeModificacion02">
          <th mat-header-cell *matHeaderCellDef class="table__head">
            DETALLE DE MODIFICACION 02
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{
              element.detalleDeModificacion02
                ? element.detalleDeModificacion02
                : "---"
            }}
          </td>
        </ng-container>

        <ng-container matColumnDef="fechaEnvioPPTO03">
          <th mat-header-cell *matHeaderCellDef class="table__head">
            FECHA ENVIO PPTO 03
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{
              element.fechaEnvioPPTO03
                ? (element.fechaEnvioPPTO03 | date: "dd/MM/yyyy")
                : "---"
            }}
          </td>
        </ng-container>

        <ng-container matColumnDef="motivoDeModificacion03">
          <th mat-header-cell *matHeaderCellDef class="table__head">
            MOTIVO DE MODIFICACION 03
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{
              element.motivoDeModificacion03
                ? element.motivoDeModificacion03
                : "---"
            }}
          </td>
        </ng-container>

        <ng-container matColumnDef="detalleDeModificacion03">
          <th mat-header-cell *matHeaderCellDef class="table__head">
            DETALLE DE MODIFICACION 03
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{
              element.detalleDeModificacion03
                ? element.detalleDeModificacion03
                : "---"
            }}
          </td>
        </ng-container>

        <ng-container matColumnDef="fechaEnvioPPTO04">
          <th mat-header-cell *matHeaderCellDef class="table__head">
            FECHA ENVIO PPTO 04
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{
              element.fechaEnvioPPTO04
                ? (element.fechaEnvioPPTO04 | date: "dd/MM/yyyy")
                : "---"
            }}
          </td>
        </ng-container>

        <ng-container matColumnDef="motivoDeModificacion04">
          <th mat-header-cell *matHeaderCellDef class="table__head">
            MOTIVO DE MODIFICACION 04
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{
              element.motivoDeModificacion04
                ? element.motivoDeModificacion04
                : "---"
            }}
          </td>
        </ng-container>

        <ng-container matColumnDef="detalleDeModificacion04">
          <th mat-header-cell *matHeaderCellDef class="table__head">
            DETALLE DE MODIFICACION 04
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{
              element.detalleDeModificacion04
                ? element.detalleDeModificacion04
                : "---"
            }}
          </td>
        </ng-container> -->

        <ng-container matColumnDef="fechaDeAprobacionORechazo">
          <th mat-header-cell *matHeaderCellDef class="table__head">
            Fecha aprob. o rechazo
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{
              element.fechaDeAprobacionORechazo
                ? (element.fechaDeAprobacionORechazo | date: "dd/MM/yyyy")
                : "---"
            }}
          </td>
        </ng-container>

        <ng-container matColumnDef="statusPresupuesto">
          <th mat-header-cell *matHeaderCellDef class="table__head">
            Status PPTO
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{ element.statusPresupuesto ? element.statusPresupuesto : "---" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="motivoDelRechazo">
          <th mat-header-cell *matHeaderCellDef class="table__head">
            Motivo de rechazo
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{ element.motivoDelRechazo ? element.motivoDelRechazo : "---" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="detalleDelRechazo">
          <th mat-header-cell *matHeaderCellDef class="table__head">
            Detalle de rechazo
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{ element.detalleDelRechazo ? element.detalleDelRechazo : "---" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="vv$servicios">
          <th mat-header-cell *matHeaderCellDef class="table__head">
            VV$ Servicios
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{ element.vv$servicios ? element.vv$servicios : "---" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="vv$adicionalesServicios">
          <th mat-header-cell *matHeaderCellDef class="table__head">
            VV$ Adicionales Servicios
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{
              element.vv$adicionalesServicios
                ? element.vv$adicionalesServicios
                : "---"
            }}
          </td>
        </ng-container>

        <ng-container matColumnDef="vv$descuentoServicios">
          <th mat-header-cell *matHeaderCellDef class="table__head">
            VV$ Dsctos. Servicios
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{
              element.vv$descuentoServicios
                ? element.vv$descuentoServicios
                : "---"
            }}
          </td>
        </ng-container>

        <ng-container matColumnDef="vv$repuestos">
          <th mat-header-cell *matHeaderCellDef class="table__head">
            VV$ Repuestos
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{ element.vv$repuestos ? element.vv$repuestos : "---" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="vv$adicionalesRepuestos">
          <th mat-header-cell *matHeaderCellDef class="table__head">
            VV$ Adicional Repuestos
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{
              element.vv$adicionalesRepuestos
                ? element.vv$adicionalesRepuestos
                : "---"
            }}
          </td>
        </ng-container>

        <ng-container matColumnDef="vv$descuentoRepuestos">
          <th mat-header-cell *matHeaderCellDef class="table__head">
            VV$ Dsctos. Repuestos
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{
              element.vv$descuentoRepuestos
                ? element.vv$descuentoRepuestos
                : "---"
            }}
          </td>
        </ng-container>

        <ng-container matColumnDef="totalvvPPTOUS$">
          <th mat-header-cell *matHeaderCellDef class="table__head">
            Total VV PPTO US$
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{ element.totalvvPPTOUS$ ? element.totalvvPPTOUS$ : "---" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="$componenteNuevo">
          <th mat-header-cell *matHeaderCellDef class="table__head">
            $ Componente nuevo
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{ element.$componenteNuevo ? element.$componenteNuevo : "---" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="reparacion60">
          <th mat-header-cell *matHeaderCellDef class="table__head">
            % Reparación (60%)
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{ element.reparacion60 ? element.reparacion60 : "---" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="horasSTD">
          <th mat-header-cell *matHeaderCellDef class="table__head">
            Horas STD
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{ element.horasSTD ? element.horasSTD : "---" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="horasReales">
          <th mat-header-cell *matHeaderCellDef class="table__head">
            Horas reales
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{ element.horasReales ? element.horasReales : "---" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="tiempoObjetivoEnvioPPTO">
          <th mat-header-cell *matHeaderCellDef class="table__head">
            Tiempo objetivo envío PPTO
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{
              element.tiempoObjetivoEnvioPPTO
                ? element.tiempoObjetivoEnvioPPTO
                : "---"
            }}
          </td>
        </ng-container>

        <ng-container matColumnDef="diasRestantesEnvioPPTO">
          <th mat-header-cell *matHeaderCellDef class="table__head">
            Días restantes envío PPTO
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{
              element.diasRestantesEnvioPPTO
                ? element.diasRestantesEnvioPPTO
                : "---"
            }}
          </td>
        </ng-container>

        <ng-container matColumnDef="NoPPTOSModificadosOAdicionales">
          <th mat-header-cell *matHeaderCellDef class="table__head">
            N° PPTO's modif. o adicinales
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{
              element.NoPPTOSModificadosOAdicionales
                ? element.NoPPTOSModificadosOAdicionales
                : "---"
            }}
          </td>
        </ng-container>

        <ng-container matColumnDef="observacionesEnElPresupuesto">
          <th mat-header-cell *matHeaderCellDef class="table__head">
            Obs. en el PPTO
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{
              element.observacionesEnElPresupuesto
                ? element.observacionesEnElPresupuesto
                : "---"
            }}
          </td>
        </ng-container>

        <!-- <ng-container matColumnDef="fechaDeTerminoDeRep">
          <th mat-header-cell *matHeaderCellDef class="table__head">
            FECHA DE TERMINO DE REP
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{
              element.fechaDeTerminoDeRep
                ? (element.fechaDeTerminoDeRep | date: "dd/MM/yyyy")
                : "---"
            }}
          </td>
        </ng-container> -->

        <ng-container matColumnDef="fechaUltimoInput">
          <th mat-header-cell *matHeaderCellDef class="table__head">
            Fecha último Input
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{
              element.fechaUltimoInput
                ? (element.fechaUltimoInput | date: "dd/MM/yyyy")
                : "---"
            }}
          </td>
        </ng-container>

        <ng-container matColumnDef="motivoDeInput">
          <th mat-header-cell *matHeaderCellDef class="table__head">
            Motivo de Input
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{ element.motivoDeInput ? element.motivoDeInput : "---" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="fechaDeFactDeTaller">
          <th mat-header-cell *matHeaderCellDef class="table__head">
            Fecha de fact. Taller
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{
              element.fechaDeFactDeTaller
                ? (element.fechaDeFactDeTaller | date: "dd/MM/yyyy")
                : "---"
            }}
          </td>
        </ng-container>

        <ng-container matColumnDef="costo$ServiciosCliente">
          <th mat-header-cell *matHeaderCellDef class="table__head">
            Costo $ servicios cliente
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{
              element.costo$ServiciosCliente
                ? element.costo$ServiciosCliente
                : "---"
            }}
          </td>
        </ng-container>

        <ng-container matColumnDef="costo$ServiciosDeOperacion">
          <th mat-header-cell *matHeaderCellDef class="table__head">
            Costo $ servicios oper.
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{
              element.costo$ServiciosDeOperacion
                ? element.costo$ServiciosDeOperacion
                : "---"
            }}
          </td>
        </ng-container>

        <ng-container matColumnDef="rentabilidadServiciosPercent">
          <th mat-header-cell *matHeaderCellDef class="table__head">
            Rentabilidad servicios 100%
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{
              element.rentabilidadServiciosPercent
                ? element.rentabilidadServiciosPercent
                : "---"
            }}
          </td>
        </ng-container>

        <ng-container matColumnDef="costo$RepuestosCLIENTE">
          <th mat-header-cell *matHeaderCellDef class="table__head">
            Costo $ repuestos cliente
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{
              element.costo$RepuestosCLIENTE
                ? element.costo$RepuestosCLIENTE
                : "---"
            }}
          </td>
        </ng-container>

        <ng-container matColumnDef="costo$RepuestosOperacion">
          <th mat-header-cell *matHeaderCellDef class="table__head">
            Costo $ repuestos oper.
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{
              element.costo$RepuestosOperacion
                ? element.costo$RepuestosOperacion
                : "---"
            }}
          </td>
        </ng-container>

        <ng-container matColumnDef="rentabilidadRepuestosPercent">
          <th mat-header-cell *matHeaderCellDef class="table__head">
            Rentabilidad repuestos 100%
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{
              element.rentabilidadRepuestosPercent
                ? element.rentabilidadRepuestosPercent
                : "---"
            }}
          </td>
        </ng-container>

        <ng-container matColumnDef="observacionesTaller">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="table__cell observaciones-taller"
          >
            Observaciones taller
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{
              element.observacionesTaller ? element.observacionesTaller : "---"
            }}
          </td>
        </ng-container>

        <ng-container matColumnDef="realDevueltoAServicios">
          <th mat-header-cell *matHeaderCellDef class="table__head">
            Real devuelto a servicios
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{
              element.realDevueltoAServicios
                ? element.realDevueltoAServicios
                : "---"
            }}
          </td>
        </ng-container>

        <ng-container matColumnDef="diferenciaServicios">
          <th mat-header-cell *matHeaderCellDef class="table__head">
            Diferencia servicios
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{
              element.diferenciaServicios ? element.diferenciaServicios : "---"
            }}
          </td>
        </ng-container>

        <ng-container matColumnDef="realDevueltoARepuestos">
          <th mat-header-cell *matHeaderCellDef class="table__head">
            Real devuelto a repuestos
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{
              element.realDevueltoARepuestos
                ? element.realDevueltoARepuestos
                : "---"
            }}
          </td>
        </ng-container>

        <ng-container matColumnDef="diferenciaRepuestos">
          <th mat-header-cell *matHeaderCellDef class="table__head">
            Diferencia repuestos
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{
              element.diferenciaRepuestos ? element.diferenciaRepuestos : "---"
            }}
          </td>
        </ng-container>

        <ng-container matColumnDef="totalVVFacturadoUS$">
          <th mat-header-cell *matHeaderCellDef class="table__head">
            Total facturado US$
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{
              element.totalVVFacturadoUS$ ? element.totalVVFacturadoUS$ : "---"
            }}
          </td>
        </ng-container>

        <ng-container matColumnDef="mesFactVenta">
          <th mat-header-cell *matHeaderCellDef class="table__head">
            Mes Fact. Venta
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{
              element.mesFactVenta
                ? (element.mesFactVenta | date: "dd/MM/yyyy")
                : "---"
            }}
          </td>
        </ng-container>

        <ng-container matColumnDef="percentHorasSTDvsHorasDBS">
          <th mat-header-cell *matHeaderCellDef class="table__head">
            % Horas STD VS Horas DBS
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{
              element.percentHorasSTDvsHorasDBS
                ? element.percentHorasSTDvsHorasDBS
                : "---"
            }}
          </td>
        </ng-container>

        <ng-container matColumnDef="fechaFirstLabour">
          <th mat-header-cell *matHeaderCellDef class="table__head">
            Fecha First Labor
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{
              element.fechaFirstLabour
                ? (element.fechaFirstLabour | date: "dd/MM/yyyy")
                : "---"
            }}
          </td>
        </ng-container>

        <ng-container matColumnDef="fechaLastLabour">
          <th mat-header-cell *matHeaderCellDef class="table__head">
            Fecha Last Labor
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{
              element.fechaLastLabour
                ? (element.fechaLastLabour | date: "dd/MM/yyyy")
                : "---"
            }}
          </td>
        </ng-container>

        <ng-container matColumnDef="diasDemoraFact">
          <th mat-header-cell *matHeaderCellDef class="table__head">
            Días demora Fact.
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{ element.diasDemoraFact ? element.diasDemoraFact : "---" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="diasFactLastLabour">
          <th mat-header-cell *matHeaderCellDef class="table__head">
            Días Fact. Last Labor
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{
              element.diasFactLastLabour ? element.diasFactLastLabour : "---"
            }}
          </td>
        </ng-container>

        <ng-container matColumnDef="elaborarPPTO">
          <th mat-header-cell *matHeaderCellDef class="table__head">
            Elaborar PPTO
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{ element.elaborarPPTO ? element.elaborarPPTO : "---" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="tipoDeComponente">
          <th mat-header-cell *matHeaderCellDef class="table__head">
            Tipo de componente
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{ element.tipoDeComponente ? element.tipoDeComponente : "---" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="tipoAAorPandP">
          <th mat-header-cell *matHeaderCellDef class="table__head">
            Tipo (AA//P&P)
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{ element.tipoAAorPandP ? element.tipoAAorPandP : "---" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="taller02">
          <th mat-header-cell *matHeaderCellDef class="table__head">
            Taller 02
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{ element.taller02 ? element.taller02 : "---" }}
          </td>
        </ng-container>

        <!-- <ng-container matColumnDef="diasDesdeAperturaChild">
          <th mat-header-cell *matHeaderCellDef class="table__head">
            DIAS DESDE APERTURA CHILD
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{
              element.diasDesdeAperturaChild
                ? element.diasDesdeAperturaChild
                : "---"
            }}
          </td>
        </ng-container> -->

        <ng-container matColumnDef="resumen">
          <th mat-header-cell *matHeaderCellDef class="table__head">Resumen</th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{ element.resumen ? element.resumen : "---" }}
          </td>
        </ng-container>

        <!-- <ng-container matColumnDef="definicionDeCargos">
          <th mat-header-cell *matHeaderCellDef class="table__head">
            DEFINICION DE CARGOS
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{
              element.definicionDeCargos ? element.definicionDeCargos : "---"
            }}
          </td>
        </ng-container> -->

        <ng-container matColumnDef="informe">
          <th mat-header-cell *matHeaderCellDef class="table__head">Informe</th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{ element.informe ? element.informe : "---" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="cotizacionFesa">
          <th mat-header-cell *matHeaderCellDef class="table__head">
            Cotización FESA
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{ element.cotizacionFesa ? element.cotizacionFesa : "---" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="cotizacionText">
          <th mat-header-cell *matHeaderCellDef class="table__head">
            Cotización TEXT
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{ element.cotizacionText ? element.cotizacionText : "---" }}
          </td>
        </ng-container>

        <!-- <ng-container matColumnDef="statusFacturacion">
          <th mat-header-cell *matHeaderCellDef class="table__head">
            STATUS FACTURACIÓN
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{ element.statusFacturacion ? element.statusFacturacion : "---" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="excelid">
          <th mat-header-cell *matHeaderCellDef class="table__head">ID</th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{ element.excelid ? element.excelid : "---" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="clave">
          <th mat-header-cell *matHeaderCellDef class="table__head">CLAVE</th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{ element.clave ? element.clave : "---" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="obj">
          <th mat-header-cell *matHeaderCellDef class="table__head">OBJ</th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{ element.obj ? element.obj : "---" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="diasPPTO">
          <th mat-header-cell *matHeaderCellDef class="table__head">
            DIAS PPTO
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{ element.diasPPTO ? element.diasPPTO : "---" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="mesTer">
          <th mat-header-cell *matHeaderCellDef class="table__head">MES TER</th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{ element.mesTer ? element.mesTer : "---" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="anio">
          <th mat-header-cell *matHeaderCellDef class="table__head">AÑO</th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{ element.anio ? element.anio : "---" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="fechaLPD">
          <th mat-header-cell *matHeaderCellDef class="table__head">
            FECHA LPD
          </th>
          <td mat-cell *matCellDef="let element" class="table__cell">
            {{ element.fechaLPD ? (element.fechaLPD | date: "dd/MM/yyyy") : "---" }}
          </td>
        </ng-container> -->

        <ng-container matColumnDef="actions" stickyEnd>
          <th mat-header-cell *matHeaderCellDef class="table__head">
            Acciones
          </th>
          <td mat-cell *matCellDef="let element; let i = index">
            <ng-container>
              <mat-menu #rawMenu="matMenu">
                <button
                  class="w3-small"
                  mat-menu-item
                  (click)="deleteDialog(element)"
                >
                  <mat-icon>delete</mat-icon>
                  Borrar
                </button>
              </mat-menu>

              <button mat-icon-button [matMenuTriggerFor]="rawMenu">
                <mat-icon>more_vert</mat-icon>
              </button>
            </ng-container>
          </td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="budgetsDailyEntriesDisplayedColumns"
        ></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: budgetsDailyEntriesDisplayedColumns"
        ></tr>
      </table>
    </div>
    <!-- <mat-paginator
      #budgetsDailyEntriesPaginator
      class="ms-paginator"
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
    >
    </mat-paginator> -->
  </div>

  <div class="footer">
    <button
      type="file"
      aria-label="add"
      mat-button
      class="footer__btn-close"
      mat-dialog-close
      (click)="cancelUploadDataToFirestore()"
      [disabled]="!budgetsDailyEntriesDataSource.data.length"
    >
      Cerrar
    </button>
    <button
      type="file"
      aria-label="add"
      mat-button
      class="footer__btn-save"
      (click)="uploadDataToFirestore()"
      [disabled]="!budgetsDailyEntriesDataSource.data.length"
    >
      Enviar
    </button>
  </div>
</div>
