
.container{
    margin: 40px 70px 40px 70px;
}
.header-container{
    display: inline-flex;
}
.btn-add{
  border: 1px #6200EE solid;
  color: #6200EE;
  margin-left:40px ;
  padding: 5px 30px 5px 30px;
}
.icon-add{
    color: #6200EE;
}
.body-container{
    margin-top: 24px;
}
table {
    width: 100%;
  }

.btn-state-validate{
    background: #27AE60; 
    color: white;   
}

.btn-state-register{
    background: #F2C94C;  
    color: black;   
}

.btn-state-replacement{
    background: #ee4325;  
    color: white;   
}