<div class="body-container" *ngIf="auth.user$ | async as user">
  <ng-container *ngIf="user.role == 'Administrador'">
    <button type="file" aria-label="add" mat-button class="btn-add" (click)="openDialog('create')">
      <mat-icon aria-label="agregar" class="icon-add">add</mat-icon>
      CREAR
    </button>
    <button type="file" aria-label="add" mat-button class="btn-add" (click)="uploadFileDialog()">
      <mat-icon aria-label="agregar" class="icon-add">add</mat-icon>
      CREAR LOTE
    </button>

    <button aria-label="add" mat-button class="btn-add" (click)="downloadXlsx(historyDataSource.data)">
      <mat-icon aria-label="agregar" class="icon-add">download</mat-icon>
      DESCARGAR
    </button>
  </ng-container>
  
  <mat-form-field appearance="outline" style="margin-left: 16px; font-size: 12px;">
    <mat-select [formControl]="statusControl" placeholder="Estados">
      <mat-option value="">-Todos-</mat-option>
      <mat-option *ngFor="let item of statusList" [value]="item.status">{{item.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" style="margin-left: 16px; font-size: 12px;">
    <mat-icon matPrefix style="margin-right: 12px">search</mat-icon>
    <input matInput type="text" [formControl]="searchControl" placeholder="Escribir">
    <mat-hint>La tabla se filtrará mientras escribe</mat-hint>
  </mat-form-field>

  <div class="container-table" *ngIf="evaluation$ |async">
    <table mat-table [dataSource]="historyDataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="otMain">
        <th mat-header-cell *matHeaderCellDef class="table__cell">MAIN</th>
        <td mat-cell *matCellDef="let element" class="table__cell"> {{element.otMain ? element.otMain : '---'}} </td>
      </ng-container>

      <ng-container matColumnDef="otChild">
        <th mat-header-cell *matHeaderCellDef class="table__cell">CHILD</th>
        <td mat-cell *matCellDef="let element" class="table__cell"> {{element.otChild ? element.otChild : '---'}} </td>
      </ng-container>

      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef class="table__cell">Posición</th>
        <td mat-cell *matCellDef="let element" class="table__cell"> {{element.position ? element.position : '---'}}
        </td>
      </ng-container>

      <ng-container matColumnDef="partNumber">
        <th mat-header-cell *matHeaderCellDef class="table__cell">NP</th>
        <td mat-cell *matCellDef="let element" class="table__cell"> {{element.partNumber ? element.partNumber : '---'}}
        </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef class="table__cell">Descripción</th>
        <td mat-cell *matCellDef="let element" class="table__cell"> {{element.description ? element.description :
          '---'}} </td>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef class="table__cell">Cantidad</th>
        <td mat-cell *matCellDef="let element" class="table__cell"> {{element.quantity ? element.quantity : '---'}}
        </td>
      </ng-container>

      <ng-container matColumnDef="internalStatus">
        <th mat-header-cell *matHeaderCellDef class="table__cell">Estado</th>
        <td mat-cell *matCellDef="let element" class="table__cell">
          <button mat-button (click)="showImprovementEntry(element)" [ngClass]="{'btn-state-registered': element.internalStatus==='registered'
                           ,'btn-state-progress': element.internalStatus==='processed'
                           ,'btn-state-consultation': element.internalStatus==='consultation'
                           ,'btn-state-finalizado': element.internalStatus==='finalized'
                          }">
            <span *ngIf="element.internalStatus==='registered'">Registrado</span>
            <span *ngIf="element.internalStatus==='processed'">Proceso</span>
            <span *ngIf="element.internalStatus==='consultation'">Consulta</span>
            <span *ngIf="element.internalStatus==='finalized'">Finalizado</span>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef class="table__cell"> Atención </th>
        <td mat-cell *matCellDef="let element" class="table__cell"> {{element.status ? element.status : '---'}} </td>
      </ng-container>

      <ng-container matColumnDef="wof">
        <th mat-header-cell *matHeaderCellDef class="table__cell">WOF</th>
        <td mat-cell *matCellDef="let element" class="table__cell"> {{element.wof ? element.wof : '---'}} </td>
      </ng-container>

      <ng-container matColumnDef="task">
        <th mat-header-cell *matHeaderCellDef class="table__cell">Tarea</th>
        <td mat-cell *matCellDef="let element" class="table__cell"> {{element.task ? element.task : '---'}} </td>
      </ng-container>

      <ng-container matColumnDef="observations">
        <th mat-header-cell *matHeaderCellDef class="table__cell">Observaciones</th>
        <td mat-cell *matCellDef="let element" class="table__cell"> {{element.observations ? element.observations :
          '---'}} </td>
      </ng-container>

      <ng-container matColumnDef="workshop">
        <th mat-header-cell *matHeaderCellDef class="table__cell">Taller</th>
        <td mat-cell *matCellDef="let element" class="table__cell"> {{element.workshop ? element.workshop : '---'}}
        </td>
      </ng-container>

      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef class="table__cell">Fecha de solicitud</th>
        <td mat-cell *matCellDef="let element" class="table__cell"> {{(element.createdAt.seconds * 1000) | date :
          'dd/MM/yy hh:mm:ss'}} </td>
      </ng-container>

      <ng-container matColumnDef="result">
        <th mat-header-cell *matHeaderCellDef class="table__cell">Resultado</th>
        <td mat-cell *matCellDef="let element" class="table__cell"> {{element.result ? element.result : '---'}} </td>
      </ng-container>

      <ng-container matColumnDef="kindOfTest">
        <th mat-header-cell *matHeaderCellDef class="table__cell">Ensayo</th>
        <td mat-cell *matCellDef="let element" class="table__cell"> {{element.kindOfTest ? element.kindOfTest : '---'}}
        </td>
      </ng-container>

      <ng-container matColumnDef="comments">
        <th mat-header-cell *matHeaderCellDef class="table__cell">Comentarios</th>
        <td mat-cell *matCellDef="let element" class="table__cell"> {{element.comments ? element.comments : '---'}}
        </td>
      </ng-container>

      <ng-container matColumnDef="createdBy">
        <th mat-header-cell *matHeaderCellDef class="table__cell">Inspector</th>
        <td mat-cell *matCellDef="let element" class="table__cell"> {{element.createdBy ? element.createdBy :
          '---'}} </td>
      </ng-container>

      <ng-container matColumnDef="processDate">
        <th mat-header-cell *matHeaderCellDef class="table__cell">Fecha Proceso</th>
        <td mat-cell *matCellDef="let element" class="table__cell"> {{(element.processDate.seconds * 1000) | date :
          'dd/MM/yy'}} </td>
      </ng-container>

      <ng-container matColumnDef="finishedDate">
        <th mat-header-cell *matHeaderCellDef class="table__cell">Fecha Cierre</th>
        <td mat-cell *matCellDef="let element" class="table__cell"> {{(element.finishedDate.seconds * 1000) | date :
          'dd/MM/yy'}} </td>
      </ng-container>

      <ng-container matColumnDef="actions" stickyEnd>
        <th mat-header-cell *matHeaderCellDef class="table__cell">
          Acciones
        </th>
        <td mat-cell *matCellDef="let element; let i = index">
          <ng-container>
            <mat-menu #rawMenu="matMenu">
              <button class="w3-small" mat-menu-item (click)="openDialog('edit', element, i)"
                *ngIf="user.role == 'Administrador'">
                <mat-icon>edit</mat-icon>
                Editar
              </button>
              <button class="w3-small" mat-menu-item (click)="openDialog('delete',element,i)"
                *ngIf="user.role == 'Administrador'">
                <mat-icon>delete</mat-icon>
                Borrar
              </button>
              <button class="w3-small" mat-menu-item (click)="openDialog('time-line', element, i)">
                <mat-icon>timeline</mat-icon>
                Linea de tiempo
              </button>
              <button class="w3-small" mat-menu-item (click)="openDialog('observation', element, i)">
                <mat-icon>remove_red_eye</mat-icon>
                Observaciones
              </button>
              <button class="w3-small" mat-menu-item (click)="openDialog('image', element, i)">
                <mat-icon>add_photo_alternate</mat-icon>
                Imágenes
              </button>
            </mat-menu>

            <button mat-icon-button [matMenuTriggerFor]="rawMenu">
              <mat-icon>more_vert</mat-icon>
            </button>
          </ng-container>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="improvementDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: improvementDisplayedColumns;"></tr>
    </table>
  </div>
  <mat-paginator #improvementPaginator class="ms-paginator" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
  </mat-paginator>
</div>