.cantidad {
  cursor: default;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1em;
  height: 45px;
  background: #27ae60;
  border: 1px solid #d8d8d8;
  border-radius: 5px;
  color: #2b2b2b;
  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
  margin-right: 0.4em;
  .quantity {
    font-family: Poppins;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 0.15px;
    margin-left: 10px;
  }
}

.download {
  margin-left: 5px;
  height: 45px !important;
}
