<div class="ms-container">
  <div class="ms-toolbar">
    <mat-icon mat-list-icon class="ms-toolbar__icon">settings</mat-icon>
    <h1 class="ms-toolbar__title">Configuración</h1>
  </div>
  <div class="container-body">
    <div class="container-settings">
      <mat-accordion>
        <div style="margin-top: 30px"></div>
        <mat-expansion-panel class="container-settings__color-expantion">
          <mat-expansion-panel-header style="height: 58px">
            <mat-panel-title class="container-settings__header-title">
              Listas desplegables
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div style="display: flex; flex-wrap: wrap">
            <div style="border: 10px"></div>
            <mat-card class="mat-elevation-z0">
              <mat-card-content>
                <mat-card
                  class="mat-elevation-z0"
                  style="margin-left: -32px; margin-top: 10px"
                >
                  <mat-card-header>
                    <mat-card-title>
                      <span>Motivos de rechazo</span>
                      <button
                        type="button"
                        aria-label="saveDataDifusion"
                        mat-button
                        class="container-settings__btn-save"
                        (click)="saveReasonsForRejection()"
                      >
                        GUARDAR
                      </button>
                    </mat-card-title>
                  </mat-card-header>
                </mat-card>

                <mat-card
                  class="mat-elevation-z0 container-expansion1__content-card"
                >
                  <mat-progress-bar
                    mode="indeterminate"
                    *ngIf="loading$ | async"
                  ></mat-progress-bar>
                  <mat-card-header
                    class="container-expansion1__content-card--header"
                  >
                    <mat-form-field>
                      <mat-label>Escribir</mat-label>
                      <input
                        type="text"
                        matInput
                        placeholder="Escribir"
                        [formControl]="listReasonsForRejectionFormControl"
                        (keyup.enter)="
                          addOrDeleteEntryInReasonsForRejectionList('add')
                        "
                        [errorStateMatcher]="matcher"
                        autocomplete="off"
                      />
                      <button
                        mat-button
                        *ngIf="listReasonsForRejectionFormControl.value"
                        matSuffix
                        mat-icon-button
                        aria-label="clearResult"
                        (click)="listReasonsForRejectionFormControl.reset()"
                      >
                        <mat-icon>close</mat-icon>
                      </button>
                      <mat-hint>Presione ENTER para agregar</mat-hint>
                      <mat-error
                        *ngIf="
                          listReasonsForRejectionFormControl.hasError(
                            'required'
                          )
                        "
                      >
                        El campo es <strong>Requerido</strong>
                      </mat-error>
                    </mat-form-field>
                  </mat-card-header>
                  <mat-card-content
                    class="container-expansion1__content-card-content"
                  >
                    <div
                      role="list"
                      *ngFor="
                        let reasonForRejection of listReasonsForRejectionArray;
                        let i = index
                      "
                    >
                      <div class="item-list">
                        <span>{{ reasonForRejection.name }}</span>

                        <span>
                          <button
                            mat-icon-button
                            aria-label="deletelistReasonsForRejection"
                            (click)="
                              addOrDeleteEntryInReasonsForRejectionList(
                                'delete',
                                i
                              )
                            "
                          >
                            <mat-icon style="color: #828282">delete</mat-icon>
                          </button>
                        </span>
                      </div>
                    </div>
                  </mat-card-content>
                </mat-card>
              </mat-card-content>
            </mat-card>

            <mat-card class="mat-elevation-z0">
              <mat-card-content>
                <mat-card
                  class="mat-elevation-z0"
                  style="margin-left: -32px; margin-top: 10px"
                >
                  <mat-card-header>
                    <mat-card-title>
                      <span> Motivos de modificación </span>
                      <button
                        type="button"
                        aria-label="saveDataDifusion"
                        mat-button
                        class="container-settings__btn-save"
                        (click)="saveReasonsForModification()"
                      >
                        GUARDAR
                      </button>
                    </mat-card-title>
                  </mat-card-header>
                </mat-card>
                <mat-card
                  class="mat-elevation-z0 container-expansion1__content-card"
                >
                  <mat-progress-bar
                    mode="indeterminate"
                    *ngIf="loading$ | async"
                  ></mat-progress-bar>
                  <mat-card-header
                    class="container-expansion1__content-card--header"
                  >
                    <mat-form-field>
                      <mat-label>Escribir</mat-label>
                      <input
                        type="text"
                        matInput
                        placeholder="Escribir"
                        [formControl]="listReasonsForModificationFormControl"
                        (keyup.enter)="
                          addOrDeleteEntryInReasonsForModificationList('add')
                        "
                        [errorStateMatcher]="matcher"
                        autocomplete="off"
                      />
                      <button
                        mat-button
                        *ngIf="listReasonsForModificationFormControl.value"
                        matSuffix
                        mat-icon-button
                        aria-label="clearResult"
                        (click)="listReasonsForModificationFormControl.reset()"
                      >
                        <mat-icon>close</mat-icon>
                      </button>
                      <mat-hint>Presione ENTER para agregar</mat-hint>
                      <mat-error
                        *ngIf="
                          listReasonsForModificationFormControl.hasError(
                            'required'
                          )
                        "
                      >
                        El campo es <strong>Requerido</strong>
                      </mat-error>
                    </mat-form-field>
                  </mat-card-header>
                  <mat-card-content
                    class="container-expansion1__content-card-content"
                  >
                    <div
                      role="list"
                      *ngFor="
                        let reasonForModification of listReasonsForModificationArray;
                        let i = index
                      "
                    >
                      <div class="item-list">
                        <span>{{ reasonForModification.name }}</span>
                        <span>
                          <button
                            mat-icon-button
                            aria-label="deletelistReasonsForRejection"
                            (click)="
                              addOrDeleteEntryInReasonsForModificationList(
                                'delete',
                                i
                              )
                            "
                          >
                            <mat-icon style="color: #828282">delete</mat-icon>
                          </button>
                        </span>
                      </div>
                    </div>
                    <!-- <div role="list" *ngFor="
                        let reasonForModification of reasonsForModification$ | async;
                        let i = index
                      ">
                      <div class="item-list">
                        <span>{{ reasonForModification.name }}</span>
                        <span>
                          <button mat-icon-button aria-label="deletelistReasonsForRejection" (click)="
                              addOrDeleteEntryInReasonsForModificationList(
                                'delete',
                                i
                              )
                            ">
                            <mat-icon style="color: #828282">delete</mat-icon>
                          </button>
                        </span>
                      </div>
                    </div> -->
                  </mat-card-content>
                </mat-card>
              </mat-card-content>
            </mat-card>
          </div>
        </mat-expansion-panel>

        <div style="margin-top: 30px"></div>
        <mat-expansion-panel class="container-settings__color-expantion">
          <mat-expansion-panel-header style="height: 58px">
            <mat-panel-title class="container-settings__header-title">
              Configurador de grupos
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div style="display: flex; flex-wrap: wrap">
            <div style="border: 10px"></div>
            <!-- WIP -->
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
