.container {
    margin: 40px 70px 40px 70px;
}

.label:active {
    color: #6200ee;
}

.label:active{
    color:#6200EE;
}
a:active {
    color: #6200ee;
}

.mat-tab-body.mat-tab-body-active {
    overflow-y: hidden;
}
.container-router{
    margin-top: 30px;
}
