<div class="container">
    <h1 style="font-size: 2.5em; margin-left: 20px; font-weight: bold;">Evaluaciones</h1>     
    <div class="container-body">
        <mat-tab-group>
            <mat-tab label="SOLICITUDES">        
                <app-evaluations-requests></app-evaluations-requests>                
            </mat-tab>
            <mat-tab label="EN PROCESO"> 
              <app-evaluations-process></app-evaluations-process>
            </mat-tab>
            <mat-tab label="HISTORIAL"> 
              <app-evaluations-history></app-evaluations-history>                
            </mat-tab>
            <mat-tab label="CONFIGURACIONES"> CONFIGURACIONES 3 </mat-tab>
        </mat-tab-group>
    </div>
  
  </div>