<h2 mat-dialog-title>
    <div class="container-h2">
        <button mat-icon-button class="container-h2__button">
            <mat-icon class="container-h2__icon">remove_red_eye</mat-icon>
            <span class="container-h2__title">
                Observaciones
            </span>
        </button>
        <button mat-icon-button mat-dialog-close>
            <mat-icon class="container-h2__icon-close">close</mat-icon>
        </button>
    </div>
    <mat-divider style="margin-top: 20px;"></mat-divider>
    <mat-progress-bar mode="indeterminate" *ngIf="loading$ | async"></mat-progress-bar>
</h2>
<mat-dialog-content class="mat-typography">
    <!-- <mat-list role="list"> -->
    <mat-list-item role="listitem" class="listitem-content">OT MAIN:</mat-list-item>
    <mat-list-item role="listitem" class="listitem-content">OT CHILD:</mat-list-item>
    <mat-list-item role="listitem" class="listitem-content">Correlativo:</mat-list-item>
    <mat-list-item role="listitem" class="listitem-content">Número de Parte:</mat-list-item>
    <mat-list-item role="listitem" class="listitem-content">Descripción:</mat-list-item>
    <mat-list-item role="listitem" class="listitem-content">Tipo de Atención:</mat-list-item>
    <mat-list-item role="listitem" class="listitem-content">Usuario:</mat-list-item>
    <mat-list-item role="listitem" class="listitem-content">WOF (Orden de fabricación)</mat-list-item>
    <mat-list-item role="listitem" class="listitem-content">Trabajo:</mat-list-item>
    <mat-list-item role="listitem" class="listitem-content">Taller:</mat-list-item>
    <mat-list-item role="listitem" class="listitem-content">Observaciones:</mat-list-item>
    <div style="margin-top: 30px;"></div>
    <mat-list-item role="listitem" class="listitem-content__second">Resultado:</mat-list-item>
    <mat-list-item role="listitem" class="listitem-content__second">Tipo de Ensayo:</mat-list-item>
    <mat-list-item role="listitem" class="listitem-content__second">Inspector:</mat-list-item>
    <div style="margin-top: 30px;"></div>
    <mat-accordion>
        <mat-expansion-panel class="container-panel">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <div class="container-panel__number--panel">
                        1
                    </div>
                </mat-panel-title>
                <mat-panel-description>
                    <span class="container-panel__description">
                        Preguntas
                    </span>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="item-consult">
                <button mat-icon-button>
                    <mat-icon>help_center</mat-icon>
                    <span style="margin-left: 20px;">
                        Consulta 1
                    </span>
                </button>
            </div>
            <div style="margin-top: 10px;"></div>

            <div class="container-panel__question-image">
                <div class="container-panel__question-image--img">
                    <img src="../../../../../../../assets/img/default.png" alt="" style="width: 100%;">
                </div>
                <div class="container-panel__question-image--question">
                    ¿Como debo realizar el primer ensayo de material?
                </div>

            </div>
            <div class="item-consult">
                <button mat-icon-button>
                    <mat-icon>help_center</mat-icon>
                    <span style="margin-left: 20px;">
                        Respuesta 1
                    </span>
                </button>
            </div>
            <div style="margin-top: 10px;"></div>

            <div class="container-panel__question-image">
                <div class="container-panel__question-image--img">
                    <img src="../../../../../../../assets/img/default.png" alt="" style="width: 100%;">
                </div>
                <div class="container-panel__question-image--question">
                    ¿Como debo realizar el primer ensayo de material?
                </div>

            </div>
        </mat-expansion-panel>
    </mat-accordion>
    <div style="margin-top: 30px;"></div>
    <mat-accordion>
        <mat-expansion-panel  class="container-panel">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <div class="container-panel__number--panel">
                        2
                    </div>
                </mat-panel-title>
                <mat-panel-description>
                    <span class="container-panel__description">
                        Imágenes
                    </span>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="container-panel__image">
                <mat-card class="mat-elevation-z0">
                    <img src="../../../../../../../assets/img/default.png" alt="">
                </mat-card>
                <mat-card class="mat-elevation-z0">
                    <img src="../../../../../../../assets/img/default.png" alt="">
                </mat-card>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
    <div style="margin-top: 30px;"></div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button type="button" mat-stroked-button color="warn" class="footer__btn-close" mat-dialog-close>CERRAR</button>
    <button type="button" mat-raised-button color="primary" class="footer__btn-save" cdkFocusInitial>ACEPTAR</button>
</mat-dialog-actions>