<div class="container">
    <mat-toolbar class="container__toolbar">
        <span class="container__toolbar--title">
            {{title}}
        </span>
        <button mat-icon-button class="container__toolbar--icon">
            <mat-icon>settings</mat-icon>
        </button>
        <div class="container__toolbar--search">
            <mat-icon matSuffix style="color: rgba(0, 0, 0, 0.6);">search</mat-icon>
            <input matInput placeholder="Buscar">
        </div>
    </mat-toolbar>
    <div class="container__toolbar--number">
        <span>
            08
        </span>
    </div>
</div>