
.form{
    display: flex;
    flex-direction: row;

    &__input{
        width: 300px;
        margin-left: 20px;
    }
    &__btnSave{
        padding: 0px 20px;
        margin: 10px 20px 25px 20px;
        border: 1px solid #6200ee;
        background: white;
        color: #6200ee;

    }
}
.container-table {
    margin-top: 20px;
    overflow: auto;
    margin-left: 0px;
}

table {
    .table__cell {
        width: 100vw;
        padding: 0px 8px;
    }
}

.theader {
    background: #f0eefc;
    color: #2b2b2b;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
}