.container {
    .header {
        display: flex;
        align-items: center;
        margin-bottom: 8px;

        &__icon {
            vertical-align: middle;
            margin-right: 12px;
        }

        &__title {
            margin: 0px;
        }

        &__close {
            cursor: pointer;
        }
    }
}

.container-form {
    margin-top: 30px;
}

.inputs {
    display: grid;
    column-gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
