<div class="container" [ngStyle]="containerStyle">
    <div class="header-container">
        <mat-icon mat-list-icon class="mat-icon-menu" style="font-size: 2.5em;">settings</mat-icon>
        <h1 style="font-size: 2.2em; margin-left: 20px; font-family: 'Poppins', sans-serif; font-weight: 700;">Configuraciones</h1>               
    </div>

    <div class="container-settings">
        <mat-expansion-panel class="container-settings__color-expantion" 
        (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header style="height: 58px;">
                <mat-panel-title class="container-settings__header-title">
                    Listas
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div style="border: 10px;"></div>

            <mat-card class="mat-elevation-z0">
                <div class="container-diffusion"*ngIf="broadcast$ |async as broadcastList">
                    <div *ngFor="let broadcast of broadcastList; let i=index">
                        <mat-card-content>
                            <mat-card class="mat-elevation-z0" style="margin-left: -10px;margin-top: 5px;">
                                <mat-card-header>
                                    <mat-card-title class="container-diffusion__title"> 
                                        <span class="container-diffusion__title--name"> Lista de {{broadcast.name}} </span>
                                        <!-- <button type="button" aria-label="saveDataDifusion" mat-button class="container-settings__btn-save"
                                         (click)="saveListSpecialist()">
                                            GUARDAR
                                        </button> -->
                                        <button mat-icon-button aria-label="deletelistResult"
                                         (click)="deleteListBroadcast(broadcast)" >
                                            <mat-icon style="color: #FF2D2D; ">delete</mat-icon>
                                        </button>
                                    </mat-card-title>
                                </mat-card-header>
                            </mat-card>
                            
                            <mat-card class="mat-elevation-z0 container-expansion1__content-card">
                                <mat-progress-bar mode="indeterminate" *ngIf="loading$ | async"></mat-progress-bar>
                                <mat-card-header class="container-expansion1__content-card--header">
                                    <mat-form-field>
                                        <mat-label>Escribir</mat-label>
                                        <input type="text" matInput placeholder="Escribir" [formControl]="listDiffusionControl" 
                                        (keyup.enter)="addListDiffusion(broadcast,i+1)"  [errorStateMatcher]="matcher" autocomplete="off">
                                        <button mat-button *ngIf="listDiffusionControl.value" matSuffix mat-icon-button aria-label="clearResult" 
                                        (click)="listDiffusionControl.reset()">
                                            <mat-icon>close</mat-icon>
                                        </button>
                                        <mat-hint>Presione ENTER para agregar</mat-hint>
                                        <mat-error *ngIf="listDiffusionControl.hasError('required')">
                                            El campo es <strong>Requerido</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </mat-card-header>
                                <mat-card-content class="container-expansion1__content-card-content">
                                    <div role="list" *ngFor="let item of broadcast['emailList'] ;let j=index">
                                        <div class="item-list">
                                            <span>{{item}}</span>
                                            <span>
                                                <button mat-icon-button aria-label="deletelistResult" 
                                                (click)="updateBrocastListEmail(broadcast, item)" >
                                                    <mat-icon style="color: #828282">delete</mat-icon>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </mat-card-content>
                            </mat-card>                
                        </mat-card-content>                           
                        
                    </div>

                </div>
                
                <button type="button" aria-label="saveDataDifusion" mat-button class="container-settings__btn-save"
                 (click)="addDiffusion()">
                    AGREGAR
                </button>          

            </mat-card>           

        </mat-expansion-panel>
    </div>


    <div class="container-settings">
        <mat-expansion-panel class="container-settings__color-expantion" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header style="height: 58px;">
                <mat-panel-title class="container-settings__header-title">
                    Listas  
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div style="border: 10px;"></div>
            <mat-card class="mat-elevation-z0">
                <div class="container-diffusion">

                    <div >
                        <mat-card-content>
                            <mat-card class="mat-elevation-z0" style="margin-left: -10px;margin-top: 5px;">
                                <mat-card-header>
                                    <mat-card-title>
                                        <span> Especialista </span>
                                        <button type="button" aria-label="saveDataDifusion" mat-button class="container-settings__btn-save"
                                         (click)="saveListSpecialist()">
                                            GUARDAR
                                        </button>
                                    </mat-card-title>
                                </mat-card-header>
                            </mat-card>
                            
                            <mat-card class="mat-elevation-z0 container-expansion1__content-card">
                                <mat-progress-bar mode="indeterminate" *ngIf="loading$ | async"></mat-progress-bar>
                                <mat-card-header class="container-expansion1__content-card--header">
                                    <mat-form-field>
                                        <mat-label>Escribir</mat-label>
                                        <input type="text" matInput placeholder="Escribir" [formControl]="listSpecialistControl" 
                                        (keyup.enter)="addListSpecialist()"  [errorStateMatcher]="matcher" autocomplete="off">
                                        <button mat-button *ngIf="listSpecialistControl.value" matSuffix mat-icon-button 
                                        aria-label="clearResult" (click)="listSpecialistControl.reset()">
                                            <mat-icon>close</mat-icon>
                                        </button>
                                        <mat-hint>Presione ENTER para agregar</mat-hint>
                                        <mat-error *ngIf="listSpecialistControl.hasError('required')">
                                            El campo es <strong>Requerido</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </mat-card-header>
                                <mat-card-content class="container-expansion1__content-card-content">
                                    <div role="list" *ngFor="let result of listSpecialistArray;let i=index">
                                        <div class="item-list">
                                            <span>{{result.specialist}}</span>  
                                            <span>
                                                <button mat-icon-button aria-label="deletelistResult" 
                                                        (click)="deleteListSpecialist(i)" >
                                                    <mat-icon style="color: #828282">delete</mat-icon>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </mat-card-content>
                            </mat-card>                
                        </mat-card-content>    
                    </div>

                    <div >
                        <mat-card-content>
                            <mat-card class="mat-elevation-z0" style="margin-left: -10px;margin-top: 5px;">
                                <mat-card-header>
                                    <mat-card-title>
                                        <span> Areas responsables </span>
                                        <button type="button" aria-label="saveDataDifusion" mat-button class="container-settings__btn-save"
                                         (click)="saveListResponsibleArea()">
                                            GUARDAR
                                        </button>
                                    </mat-card-title>
                                </mat-card-header>
                            </mat-card>
                            
                            <mat-card class="mat-elevation-z0 container-expansion1__content-card">
                                <mat-progress-bar mode="indeterminate" *ngIf="loading$ | async"></mat-progress-bar>
                                <mat-card-header class="container-expansion1__content-card--header">
                                    <mat-form-field>
                                        <mat-label>Escribir</mat-label>
                                        <input type="text" matInput placeholder="Escribir" [formControl]="listResponsibleAreasControl" 
                                        (keyup.enter)="addListResponsibleArea()"  [errorStateMatcher]="matcher" autocomplete="off">
                                        <button mat-button *ngIf="listResponsibleAreasControl.value" matSuffix mat-icon-button aria-label="clearResult" 
                                        (click)="listResponsibleAreasControl.reset()">
                                            <mat-icon>close</mat-icon>
                                        </button>
                                        <mat-hint>Presione ENTER para agregar</mat-hint>
                                        <mat-error *ngIf="listResponsibleAreasControl.hasError('required')">
                                            El campo es <strong>Requerido</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </mat-card-header>
                                <mat-card-content class="container-expansion1__content-card-content">
                                    <div role="list" *ngFor="let result of listResponsibleAreasArray;let i=index">
                                        <div class="item-list">
                                            <span>{{result.responsable}}</span>
                                            <span>
                                                <button mat-icon-button aria-label="deletelistResult" (click)="deleteListResponsibleArea(i)" >
                                                    <mat-icon style="color: #828282">delete</mat-icon>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </mat-card-content>
                            </mat-card>                
                        </mat-card-content>    
                    </div>
                </div>         

            </mat-card>           
        </mat-expansion-panel>
    </div>

</div>