<h2 mat-dialog-title>
    <div class="container-header">
        <button mat-icon-button>
            <mat-icon>image</mat-icon>
            <span>
                Imagenes
            </span>
        </button>
        <button mat-icon-button mat-dialog-close>
            <mat-icon style="color: gray;">close</mat-icon>
        </button>
    </div>
    <mat-divider></mat-divider>
</h2>
<mat-dialog-content class="mat-typography" style="color: gray;">
    <div *ngFor="let img of images;let i=index;" class="images">
       <a [href]="img" target="_blank" style="cursor: zoom-in">
           <img [src]="img" *ngIf="img" class="images__image"  onError="this.src='../../../../../../../assets/img/camara.png'">
       </a>
    </div>  
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button type="button" mat-stroked-button color="warn" class="footer__btn-close" mat-dialog-close>CERRAR</button>
</mat-dialog-actions>