
.container-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px;

  &__search{

  }
  &__downlad{
    border: 1px solid #6200EE;
    color: #6200EE;
    background: white;
    padding: 0px 20px ;
    margin: 10px 20px 30px;
  }
}

.container-body{
  margin-top: 0px;
}

.container-table {
    margin-top: 30px;
    max-width: 100%;
    overflow: auto;
}

table {
    .table__cell {
        width: 100vw;
        min-width: 90px;
        padding: 0px 8px;
    }
}

.theader {
    background: #f0eefc;
    color: #2b2b2b;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
}

.btn-state-registered {
    background: #F2C94C;
    color: black;
    width: 130px;
  }
  
  .btn-state-process {
    background:  #FF2D2D;
    color: white;
    width: 130px;
  }

  .btn-state-tracing {
    background: #f2994a;
    color: white;
    width: 130px;
  }

  .btn-state-finalizado {
    background: #27ae60;
    color: white;
    width: 130px;
  }
  
  